workflows/01_connect_apify.json
{
  "name": "1 - Connect Apify",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "connect-apify",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -112,
        -32
      ],
      "id": "f8de7b4f-1687-4fd5-96a9-842d027877e3",
      "name": "Webhook",
      "webhookId": "d43e13c2-a5a5-45b9-8a1e-d3075066675d"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\n// Check if data exists\nif (!body) {\n  throw new Error('No data received');\n}\n\n// Check user_id\nif (!body.user_id) {\n  throw new Error('user_id is required');\n}\n\n// Check API key\nif (!body.apify_api_key) {\n  throw new Error('apify_api_key is required');\n}\n\n// Validate key format\nif (!body.apify_api_key.startsWith('apify_api_')) {\n  throw new Error('Invalid Apify key format');\n}\n\n// Return cleaned data\nreturn {\n  user_id: parseInt(body.user_id),\n  apify_api_key: body.apify_api_key.trim()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -32
      ],
      "id": "f6f2a701-b1ac-414e-9995-a50743ed45a9",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst validateNode = $('Validate Input').first().json;\n\n// Check if error\nif (response.error) {\n  return {\n    valid: false,\n    user_id: validateNode.user_id,\n    error_message: 'Invalid API key'\n  };\n}\n\n// Success\nreturn {\n  valid: true,\n  user_id: validateNode.user_id,\n  apify_api_key: validateNode.apify_api_key,\n  apify_username: response.data.username || 'Unknown'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -32
      ],
      "id": "6cc86b91-4947-43b7-9504-518b53c9f541",
      "name": "Parse Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c4a04596-fb64-4b4f-a49d-8debc8f77d76",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        -32
      ],
      "id": "0dc699d3-2124-4eac-8913-0b175357b742",
      "name": "Is Valid"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users\nSET \n  apify_api_key = '{{ $json.apify_api_key }}',\n  apify_status = 'active',\n  apify_credit = CASE \n    WHEN apify_credit IS NULL OR apify_credit = 0 THEN 5.00\n    ELSE apify_credit\n  END\nWHERE id = {{ $json.user_id }}\nRETURNING id, apify_credit, apify_status",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        992,
        -112
      ],
      "id": "812921fa-6a5c-4c6b-82b3-6393d981d3f4",
      "name": "Update User - Success",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Apify connected successfully!\",\n  \"credit\": {{ $('Update User - Success').first().json.apify_credit }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1232,
        -112
      ],
      "id": "dadd3d22-b1ac-41f7-a1cb-e4077b504238",
      "name": "Success Response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users\nSET apify_status = 'invalid'\nWHERE id = {{ $json.user_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        992,
        64
      ],
      "id": "1d6ed8f0-192d-444b-bc31-347f60b76054",
      "name": "Update User - Failed",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Invalid Apify API key\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1232,
        64
      ],
      "id": "cc0fc3da-c1e3-4c6e-97cf-8c22840f0612",
      "name": "Error Response"
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/users/me",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.apify_api_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        -32
      ],
      "id": "10521473-d63a-4405-b950-3066c9a8098e",
      "name": "Test Apify Key"
    },
    {
      "parameters": {
        "content": "## 🔌 Connect Apify\n\n**Purpose**\nLinks a user's Apify account to the system. Apify is the scraping engine that collects leads from Google Maps and Yellow Pages. Without this step, no scraping can happen.\n\n**How it works**\nUser sends their Apify API key → system tests it live against Apify → if valid, saves it to database and gives **$5.00 starting credit**.\n\n**Key Rules**\n- API key must start with `apify_api_`\n- On success → status set to `active`\n- On failure → status set to `invalid`",
        "height": 464,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        -528
      ],
      "typeVersion": 1,
      "id": "35301c17-d050-488c-aa46-151bcbd8881d",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Test Apify Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Is Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid": {
      "main": [
        [
          {
            "node": "Update User - Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update User - Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User - Success": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User - Failed": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Apify Key": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9373884d-c559-4482-b555-04db165014aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dca663e37726c81a3c935629cd2e11de0f4e015136ab9b3a68a64819241cd7b9"
  },
  "id": "pqV3XLFfzbJGWxpG",
  "tags": []
}