workflows/02_main_orchestrator.json
{
  "name": "2 - Main Orchestrator",
  "nodes": [
    {
      "parameters": {
        "content": "## 🎯 Main Orchestrator\n\n**Purpose**\nThe starting point for every scraping request. Acts as the gatekeeper, checks if the user's Apify account is active and has enough credit before allowing a job to run.\n\n**How it works**\nUser sends a search request → system validates all fields → checks Apify status and credit → creates a job record in the database.\n\n**Key Rules**\n- Only `google_maps` is accepted as source\n- `max_results` must be between 1 and 500\n- Fails if Apify not connected or credit too low",
        "height": 496,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        -528
      ],
      "typeVersion": 1,
      "id": "630b64d7-bc7c-4384-bf22-a944588bb3e7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "start-scraping",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        48,
        48
      ],
      "id": "bba663b3-cc62-4dbb-9503-7988f55453e3",
      "name": "Webhook",
      "webhookId": "b884510a-1904-4023-8aa9-27164523fa0f"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nif (!body.user_id)      throw new Error('user_id is required');\nif (!body.job_name)     throw new Error('job_name is required');\nif (!body.search_query) throw new Error('search_query is required');\nif (!body.location)     throw new Error('location is required');\nif (!body.max_results)  throw new Error('max_results is required');\n\nconst maxResults = parseInt(body.max_results);\nif (maxResults < 1 || maxResults > 500)\n  throw new Error('max_results must be 1-500');\n\nreturn {\n  user_id:      parseInt(body.user_id),\n  job_name:     body.job_name,\n  source:       'google_maps',\n  search_query: body.search_query,\n  location:     body.location,\n  max_results:  maxResults\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        48
      ],
      "id": "d2bb51e0-c49d-4a80-85fb-e5ce54cb8d55",
      "name": "Validate Request"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, email, apify_api_key, apify_status, apify_credit\nFROM users\nWHERE id = {{ $json.user_id }}\nLIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        432,
        48
      ],
      "id": "b88933a9-981c-45b3-8a2c-33840c9b16a2",
      "name": "Get User Info",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const user    = $input.first().json;\nconst request = $('Validate Request').first().json;\n\nif (!user || !user.id) {\n  return { error: true, code: 'USER_NOT_FOUND', message: 'User not found' };\n}\nif (!user.apify_api_key) {\n  return { error: true, code: 'APIFY_NOT_CONNECTED', message: 'Please connect Apify account first' };\n}\nif (user.apify_status !== 'active') {\n  return { error: true, code: 'APIFY_INVALID', message: 'Apify key is invalid or inactive' };\n}\n\nconst estimatedCost = (request.max_results / 100) * 0.01;\n\nif (parseFloat(user.apify_credit) < estimatedCost) {\n  return {\n    error: true,\n    code: 'INSUFFICIENT_CREDIT',\n    message: `Need $${estimatedCost.toFixed(4)}, have $${parseFloat(user.apify_credit).toFixed(2)}`\n  };\n}\n\nreturn {\n  error:          false,\n  user_id:        user.id,\n  apify_api_key:  user.apify_api_key,\n  estimated_cost: estimatedCost,\n  job_name:       request.job_name,\n  source:         'google_maps',\n  search_query:   request.search_query,\n  location:       request.location,\n  max_results:    request.max_results\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        48
      ],
      "id": "4ac20a5c-54bc-4482-b559-2482f6c04896",
      "name": "Check Apify Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "320c5f46-f73e-41d6-92f9-7974ba92e2f0",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        832,
        48
      ],
      "id": "0e09156f-c40c-4f78-8800-3b04ab2aeea3",
      "name": "Has Error?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err1",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "err2",
              "name": "error",
              "value": "={{ $json.code }}",
              "type": "string"
            },
            {
              "id": "err3",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        -112
      ],
      "id": "5c88837b-94eb-4f44-868b-989ef4627602",
      "name": "Format Error Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: $json.error, message: $json.message } }}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1232,
        -112
      ],
      "id": "a29e0c74-34e7-47e8-a219-76f9813a7a42",
      "name": "Send Error Response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO scraping_jobs (\n  user_id, job_name, source,\n  search_query, location, max_results,\n  status, estimated_cost\n) VALUES (\n  {{ $json.user_id }},\n  '{{ $json.job_name.replace(/'/g, \"''\") }}',\n  'google_maps',\n  '{{ $json.search_query.replace(/'/g, \"''\") }}',\n  '{{ $json.location.replace(/'/g, \"''\") }}',\n  {{ $json.max_results }},\n  'pending',\n  {{ $json.estimated_cost }}\n)\nRETURNING id, user_id, search_query, location, max_results",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        144
      ],
      "id": "a2cc750b-6cb5-4139-9843-93e87404f270",
      "name": "Create Scraping Job",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const job      = $input.first().json;\nconst apifyKey = $('Check Apify Status').first().json.apify_api_key;\n\nconst jobId = job.id || job.job_id;\nif (!jobId)    throw new Error('job_id missing from DB insert');\nif (!apifyKey) throw new Error('Apify key missing');\n\nreturn {\n  job_id:        jobId,\n  user_id:       job.user_id,\n  apify_api_key: apifyKey,\n  search_query:  job.search_query,\n  location:      job.location,\n  max_results:   job.max_results\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        144
      ],
      "id": "39f98b8e-8977-4657-9d22-61da15fd155a",
      "name": "Prepare Payload"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"job_id\": {{ $json.job_id }},\n  \"message\": \"Scraping started! Results will be ready in a few minutes.\",\n  \"search_query\": \"{{ $json.search_query }}\",\n  \"location\": \"{{ $json.location }}\",\n  \"max_results\": {{ $json.max_results }}\n}",
        "options": {
          "responseCode": 202
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1440,
        48
      ],
      "id": "c5f0a504-afd7-43f8-bc3d-61d0a83c777a",
      "name": "Respond to User NOW"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/scrape-google-maps",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"job_id\":        {{ $('Prepare Payload').first().json.job_id }},\n  \"user_id\":       {{ $('Prepare Payload').first().json.user_id }},\n  \"apify_api_key\": \"{{ $('Prepare Payload').first().json.apify_api_key }}\",\n  \"search_query\":  \"{{ $('Prepare Payload').first().json.search_query }}\",\n  \"location\":      \"{{ $('Prepare Payload').first().json.location }}\",\n  \"max_results\":   {{ $('Prepare Payload').first().json.max_results }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        240
      ],
      "id": "c5c41240-ce26-477a-81a1-d14e98a578e4",
      "name": "Trigger Scraper WF3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        48,
        240
      ],
      "id": "29fcd7e9-145b-4ae8-a427-0404a7433e28",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE scraping_jobs\nSET \n  status = 'failed',\n  error_message = '{{ $json.error }}'\nWHERE id = {{ $json.job_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        256,
        240
      ],
      "id": "2f9c2560-5706-42f8-ab5e-e9a9ffc103be",
      "name": "Mark Job Failed",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request": {
      "main": [
        [
          {
            "node": "Get User Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Info": {
      "main": [
        [
          {
            "node": "Check Apify Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Apify Status": {
      "main": [
        [
          {
            "node": "Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Error?": {
      "main": [
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Scraping Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response": {
      "main": [
        [
          {
            "node": "Send Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Scraping Job": {
      "main": [
        [
          {
            "node": "Prepare Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Payload": {
      "main": [
        [
          {
            "node": "Respond to User NOW",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trigger Scraper WF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Mark Job Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c96a67cb-dd28-4ec5-9fd4-796680efa0a2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dca663e37726c81a3c935629cd2e11de0f4e015136ab9b3a68a64819241cd7b9"
  },
  "id": "7jPOsS56m3qNOkrI",
  "tags": []
}