workflows/02_main_orchestrator.json
{
  "name": "2 - Main Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "start-scraping",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "a029f79b-5068-4aca-a694-da6f5cc3a82f",
      "name": "Webhook",
      "webhookId": "b884510a-1904-4023-8aa9-27164523fa0f"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\n// Validate all required fields\nif (!body.user_id) throw new Error('user_id required');\nif (!body.job_name) throw new Error('job_name required');\nif (!body.source) throw new Error('source required');\nif (!body.search_query) throw new Error('search_query required');\nif (!body.location) throw new Error('location required');\nif (!body.max_results) throw new Error('max_results required');\n\n// Validate source\nif (!['google_maps'].includes(body.source)) {\n  throw new Error('Invalid source');\n}\n\n// Validate max_results\nconst maxResults = parseInt(body.max_results);\nif (maxResults < 1 || maxResults > 500) {\n  throw new Error('max_results must be 1-500');\n}\n\nreturn {\n  user_id: parseInt(body.user_id),\n  job_name: body.job_name,\n  source: body.source,\n  search_query: body.search_query,\n  location: body.location,\n  max_results: maxResults\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "3ac8ac47-a481-453e-ad96-ea2752bfe056",
      "name": "Validate Request"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  id, \n  email, \n  apify_api_key,\n  apify_status,\n  apify_credit\nFROM users \nWHERE id = {{ $json.user_id }}\nLIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        0
      ],
      "id": "f80d6714-9775-4776-a4a1-4b4b16e4a403",
      "name": "Get User Info",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const user = $input.first().json;\nconst request = $('Validate Request').first().json;\n\n// Check if user exists\nif (!user || !user.id) {\n  return {\n    error: true,\n    code: 'USER_NOT_FOUND',\n    message: 'User not found'\n  };\n}\n\n// Check Apify key\nif (!user.apify_api_key) {\n  return {\n    error: true,\n    code: 'APIFY_NOT_CONNECTED',\n    message: 'Please connect Apify account first'\n  };\n}\n\n// Check status\nif (user.apify_status !== 'active') {\n  return {\n    error: true,\n    code: 'APIFY_INVALID',\n    message: 'Apify key is invalid or inactive'\n  };\n}\n\n// Calculate cost\nconst estimatedCost = (request.max_results / 100) * 0.01;\n\n// Check credit\nif (user.apify_credit < estimatedCost) {\n  return {\n    error: true,\n    code: 'INSUFFICIENT_CREDIT',\n    message: `Need $${estimatedCost.toFixed(4)}, have $${user.apify_credit.toFixed(2)}`\n  };\n}\n\n// All good\nreturn {\n  error: false,\n  user_id: user.id,\n  apify_api_key: user.apify_api_key,\n  estimated_cost: estimatedCost,\n  job_name: request.job_name,\n  source: request.source,\n  search_query: request.search_query,\n  location: request.location,\n  max_results: request.max_results\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "fee8c23f-4841-4496-b85c-1dbddff27732",
      "name": "Check Apify Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "320c5f46-f73e-41d6-92f9-7974ba92e2f0",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        832,
        0
      ],
      "id": "909a6540-7a70-44fa-8ea0-2e32ee4e9921",
      "name": "Has Error?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO scraping_jobs (\n  user_id,\n  job_name,\n  source,\n  search_query,\n  location,\n  max_results,\n  status,\n  estimated_cost\n)\nVALUES (\n  {{ $json.user_id }},\n  '{{ $json.job_name }}',\n  '{{ $json.source }}',\n  '{{ $json.search_query }}',\n  '{{ $json.location }}',\n  {{ $json.max_results }},\n  'pending',\n  {{ $json.estimated_cost }}\n)\nRETURNING *",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        96
      ],
      "id": "438b4fdc-be12-4554-9c8e-8f2bee534762",
      "name": "Create Scrapping Job",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1837a769-409a-4e6b-9328-30fd5aecf714",
              "name": "success",
              "value": "false",
              "type": "string"
            },
            {
              "id": "4228dc65-eddb-4840-ad87-bfadf23e7fa2",
              "name": "error",
              "value": "={{ $json.code }}",
              "type": "string"
            },
            {
              "id": "526daf21-c120-4aa6-9d93-0a45b498a3c7",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        -96
      ],
      "id": "25ce55b2-aa26-4597-9789-1132851e482f",
      "name": "Format Error Response"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1248,
        -96
      ],
      "id": "91314f0d-aa41-4603-80a4-be0883656561",
      "name": "Send Error Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7df4a38-7bc9-450e-bae6-f77f5207f499",
              "name": "success",
              "value": "true",
              "type": "string"
            },
            {
              "id": "e3908546-c643-46c1-8f61-af7daa9df5f3",
              "name": "message",
              "value": "Job created successfully",
              "type": "string"
            },
            {
              "id": "3215685d-893d-42c7-8dc0-854a9e20f3a4",
              "name": "job_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "3bf8a096-4361-4750-b6b2-3465944f17e3",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "13839a83-b495-4ae0-940d-f66c51cfb47c",
              "name": "estimated_cost",
              "value": "={{ $json.estimated_cost }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        96
      ],
      "id": "4a882a01-8d55-4a87-9b24-5e52af37360e",
      "name": "Format Success Response"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1456,
        96
      ],
      "id": "4cfc3ce3-8a6d-4ac8-aced-cd345a02dfe7",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request": {
      "main": [
        [
          {
            "node": "Get User Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Info": {
      "main": [
        [
          {
            "node": "Check Apify Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Apify Status": {
      "main": [
        [
          {
            "node": "Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Error?": {
      "main": [
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Scrapping Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Scrapping Job": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response": {
      "main": [
        [
          {
            "node": "Send Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fa6f2753-b531-4f3e-9189-bcc153f6b061",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dca663e37726c81a3c935629cd2e11de0f4e015136ab9b3a68a64819241cd7b9"
  },
  "id": "7jPOsS56m3qNOkrI",
  "tags": []
}