workflows/03_google_maps_scraper.json
{
  "name": "3 - Google Maps Scraper",
  "nodes": [
    {
      "parameters": {
        "content": "## 🗺️ Google Maps Scraper\n\n**Purpose**\nCollects real business leads from Google Maps using Apify. This is the main lead source in the system. Results are saved to `staging_leads` for cleaning later.\n\n**How it works**\nReceives job details → checks org credits → starts Apify actor → polls every 20 seconds until scraping finishes → fetches all results → saves to database → deducts cost from user credit.\n\n**Key Rules**\n- Requires minimum **10 org credits** to start\n- Scraping takes **1–3 minutes** depending on result count\n- Cost = (leads ÷ 100) × $0.01",
        "height": 528,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        -448
      ],
      "typeVersion": 1,
      "id": "959abee7-ac7c-4aea-99ac-c3b982db7cfc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scrape-google-maps",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1008,
        176
      ],
      "id": "ab6da1ac-c119-46c7-8b8c-609aa9df98f8",
      "name": "Webhook",
      "webhookId": "2687c0f9-02cf-4503-ba94-224d86ab124b"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body || $input.first().json;\n\nif (!input.job_id)        throw new Error('job_id required');\nif (!input.user_id)       throw new Error('user_id required');\nif (!input.apify_api_key) throw new Error('apify_api_key required');\nif (!input.search_query)  throw new Error('search_query required');\nif (!input.location)      throw new Error('location required');\nif (!input.max_results)   throw new Error('max_results required');\n\nreturn {\n  job_id:        parseInt(input.job_id),\n  user_id:       parseInt(input.user_id),\n  apify_api_key: input.apify_api_key,\n  search_query:  input.search_query,\n  location:      input.location,\n  max_results:   parseInt(input.max_results),\n  apifyInput: {\n    searchStringsArray:          [input.search_query],\n    locationQuery:               input.location,\n    maxCrawledPlacesPerSearch:   parseInt(input.max_results),\n    language:                    'en',\n    includeWebsites:             true,\n    includeEmails:               true,\n    includePhoneNumbers:         true\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        176
      ],
      "id": "1b9447fb-1b4d-46f9-8278-247144a49705",
      "name": "Validate & Prepare Input"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"received\": true, \"job_id\": {{ $json.job_id }}, \"message\": \"Scraper started\" }",
        "options": {
          "responseCode": 202
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1632,
        16
      ],
      "id": "53ec407a-a12a-4a3f-942f-cc2b31e4f29a",
      "name": "Respond ACK"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE scraping_jobs\nSET status = 'running', started_at = NOW()\nWHERE id = {{ $json.job_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1632,
        336
      ],
      "id": "d71152db-bcb8-4ed2-962f-da018a1256c6",
      "name": "Mark Job Running",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prepareData = $('Validate & Prepare Input').first().json;\nreturn prepareData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        336
      ],
      "id": "b56b2b13-c815-44f9-90b0-3f040a40de94",
      "name": "Get Data Back"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/compass~crawler-google-places/runs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.apify_api_key }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.apifyInput }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2048,
        336
      ],
      "id": "45bd01fb-9e53-4b8e-bcf3-f52dba83f612",
      "name": "Start Apify Actor"
    },
    {
      "parameters": {
        "jsCode": "const response    = $input.first().json;\nconst prepareNode = $('Validate & Prepare Input').first().json;\n\nif (response.error) {\n  throw new Error('Apify start error: ' + JSON.stringify(response.error));\n}\n\nif (!response.data || !response.data.id) {\n  throw new Error('Apify did not return a run ID');\n}\n\nreturn {\n  runId:            response.data.id,\n  defaultDatasetId: response.data.defaultDatasetId,\n  apify_api_key:    prepareNode.apify_api_key,\n  job_id:           prepareNode.job_id,\n  user_id:          prepareNode.user_id,\n  max_results:      prepareNode.max_results\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        336
      ],
      "id": "f89d2622-6dab-45e3-aac4-8632299129eb",
      "name": "Extract Run Info"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2448,
        336
      ],
      "id": "8c8676ae-0f48-4454-9daf-1fbda4af7ef9",
      "name": "Wait 60s",
      "webhookId": "25541fa6-3dc7-41da-a220-b863436f885f"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{ $json.runId }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.apify_api_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        336
      ],
      "id": "5931b298-0793-4b3e-95ea-074b6522f2ee",
      "name": "Check Actor Status"
    },
    {
      "parameters": {
        "jsCode": "const statusResponse = $input.first().json;\nconst prev           = $('Extract Run Info').first().json;\n\nconst status     = statusResponse.data?.status || 'UNKNOWN';\nconst isComplete = ['SUCCEEDED', 'FAILED', 'ABORTED'].includes(status);\n\nreturn {\n  runId:            prev.runId,\n  defaultDatasetId: prev.defaultDatasetId,\n  status:           status,\n  isComplete:       isComplete,\n  apify_api_key:    prev.apify_api_key,\n  job_id:           prev.job_id,\n  user_id:          prev.user_id,\n  max_results:      prev.max_results\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2848,
        336
      ],
      "id": "2085a5b0-2930-43ed-bc2f-2b6ffa3e089b",
      "name": "Parse Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5bde9c21-489a-4149-b953-a60fea912a2e",
              "leftValue": "={{ $json.isComplete }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3040,
        336
      ],
      "id": "3fdb3df7-0dc8-4a56-afca-54eae46fc06d",
      "name": "Is Completed?"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3456,
        496
      ],
      "id": "ba188e86-8321-4970-8b47-056d8dd2e94e",
      "name": "Wait 30s More",
      "webhookId": "58364155-0187-4857-971e-89fc9f9f92d9"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nif (data.status === 'FAILED' || data.status === 'ABORTED') {\n  throw new Error(`Apify failed: ${data.status}`);\n}\n\nconst prev = $('Extract Run Info').first().json;\nconst startTime = new Date(prev.startedAt || Date.now()).getTime();\nconst elapsed = Date.now() - startTime;\n\nif (elapsed > 600000) {\n  throw new Error('Apify timeout after 10 minutes');\n}\n\nreturn data;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3440,
        176
      ],
      "id": "1babbca2-190e-4b25-8297-f010cbc64bca",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $json.defaultDatasetId }}/items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.apify_api_key }}"
            },
            {
              "name": "format",
              "value": "json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3648,
        176
      ],
      "id": "6629f934-7852-41d1-9ee6-70b1f9c298d6",
      "name": "Get Scraped Results"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item      = $input.item.json;\nconst parseNode = $('Parse Status').first().json;\n\nconst raw = item;\n\nconst email =\n  raw.email ||\n  raw.emails?.[0] ||\n  raw.contactEmail ||\n  null;\n\nconst phone =\n  raw.phone ||\n  raw.phoneNumber ||\n  raw.phones?.[0] ||\n  null;\n\nreturn {\n  job_id:       parseNode.job_id,\n  user_id:      parseNode.user_id,\n  source:       'google_maps',\n  raw_data:     raw,\n  company_name: (raw.title || raw.name || 'Unknown').substring(0, 255),\n  phone:        phone   ? String(phone).substring(0, 50)   : null,\n  email:        email   ? String(email).substring(0, 255)  : null,\n  website:      raw.website     ? raw.website.substring(0, 255)     : null,\n  address:      raw.address     ? raw.address.substring(0, 500)     : null,\n  city:         raw.city        ? raw.city.substring(0, 100)        : null,\n  state:        raw.state       ? raw.state.substring(0, 100)       : null,\n  zip:          raw.postalCode  || null,\n  country:      raw.countryCode || null,\n  category:     raw.categoryName ? raw.categoryName.substring(0, 100) : null\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3856,
        176
      ],
      "id": "cb0c6141-1385-4488-bcf8-9c503f28106a",
      "name": "Transform Results"
    },
    {
      "parameters": {
        "jsCode": "const items     = $input.all();\nconst parseNode = $('Parse Status').first().json;\n\nif (items.length === 0) {\n  return {\n    bulk_values: null,\n    job_id:  parseNode.job_id,\n    user_id: parseNode.user_id,\n    count:   0\n  };\n}\n\nconst values = items.map(item => {\n  const r = item.json;\n  const escape = (str) => str ? String(str).replace(/'/g, \"''\").substring(0, 255) : null;\n  const raw = JSON.stringify(r.raw_data || r).replace(/'/g, \"''\");\n\n  return `(\n    ${r.job_id}, ${r.user_id}, 'google_maps',\n    '${escape(r.company_name) || 'Unknown'}',\n    ${r.phone   ? `'${escape(r.phone)}'`    : 'NULL'},\n    ${r.email   ? `'${escape(r.email)}'`    : 'NULL'},\n    ${r.website ? `'${escape(r.website)}'`  : 'NULL'},\n    ${r.address ? `'${escape(r.address)}'`  : 'NULL'},\n    ${r.city    ? `'${escape(r.city)}'`     : 'NULL'},\n    ${r.state   ? `'${escape(r.state)}'`    : 'NULL'},\n    ${r.zip     ? `'${escape(r.zip)}'`      : 'NULL'},\n    ${r.country ? `'${escape(r.country)}'`  : 'NULL'},\n    ${r.category? `'${escape(r.category)}'` : 'NULL'},\n    '${raw}'::jsonb,\n    'pending', false\n  )`;\n}).join(',\\n');\n\nreturn {\n  bulk_values: values,\n  job_id:  parseNode.job_id,\n  user_id: parseNode.user_id,\n  count:   items.length\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4064,
        176
      ],
      "id": "092bbab8-bab1-4b58-9506-2d6ddf5e3598",
      "name": "Prepare Bulk Insert node"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO staging_leads (\n  job_id, user_id, source, company_name,\n  phone, email, website, address,\n  city, state, zip, country, category,\n  raw_data, processing_status, processed\n)\nVALUES {{ $json.bulk_values }}\nON CONFLICT DO NOTHING",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4256,
        176
      ],
      "id": "61c1529f-48fa-421a-9370-059c513d53e8",
      "name": "Bulk Insert to Staging",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items     = $input.all();\nconst parseNode = $('Parse Status').first().json;\n\nconst leadCount  = items.length;\nconst actualCost = (leadCount / 100) * 0.01;\n\nreturn {\n  job_id:        parseNode.job_id,\n  user_id:       parseNode.user_id,\n  runId:         parseNode.runId,\n  leads_scraped: leadCount,\n  cost_usd:      actualCost\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4464,
        176
      ],
      "id": "ef8d4ec5-0193-4758-8221-90d0fbc26fd7",
      "name": "Calculate Stats"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users\nSET\n  apify_credit = GREATEST(0, apify_credit - {{ $json.cost_usd }}),\n  apify_status = CASE\n    WHEN (apify_credit - {{ $json.cost_usd }}) < 0.10 THEN 'depleted'\n    ELSE apify_status\n  END\nWHERE id = {{ $json.user_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4656,
        176
      ],
      "id": "4358d32a-1d4f-4ace-b69f-e0db1e1cd21a",
      "name": "Update User Credit",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE scraping_jobs\nSET \n  status = 'completed',\n  total_leads = {{ $('Calculate Stats').first().json.leads_scraped }},\n  actual_cost = {{ $('Calculate Stats').first().json.cost_usd }},\n  completed_at = NOW(),\n  apify_actor_run_id = '{{ $('Calculate Stats').first().json.runId }}'\nWHERE id = {{ $('Calculate Stats').first().json.job_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4864,
        176
      ],
      "id": "ce923688-e69a-4e7e-8fca-cf7137f4f475",
      "name": "Mark Job Complete",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        1008,
        512
      ],
      "id": "536120e2-967d-4ee9-a661-e73c28c91fc6",
      "name": "Error Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE scraping_jobs\nSET \n  status = 'failed',\n  error_message = '{{ $json.error }}',\n  completed_at = NOW()\nWHERE id = {{ $('Validate & Prepare Input').first().json.job_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1216,
        512
      ],
      "id": "8980d5dc-3027-496a-aa49-4394a84ce72c",
      "name": "Mark Job Failed",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {
    "Error Trigger": [
      {
        "json": {
          "execution": {
            "id": "3328",
            "url": "http://localhost:5678/workflow/Tz2ITCKb2ut8J2ue/executions/3328",
            "error": {
              "level": "warning",
              "tags": {},
              "timestamp": 1777037543886,
              "context": {
                "itemIndex": 0,
                "request": {
                  "body": {
                    "searchStringsArray": [
                      "software companies"
                    ],
                    "locationQuery": "Lahore, Pakistan",
                    "maxCrawledPlacesPerSearch": 10,
                    "language": "en",
                    "includeWebsites": true,
                    "includeEmails": true,
                    "includePhoneNumbers": true
                  },
                  "headers": {
                    "content-type": "application/json",
                    "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7"
                  },
                  "method": "POST",
                  "uri": "https://api.apify.com/v2/acts/compass~crawler-google-places/runs",
                  "gzip": true,
                  "rejectUnauthorized": true,
                  "followRedirect": true,
                  "resolveWithFullResponse": true,
                  "followAllRedirects": true,
                  "timeout": 300000,
                  "qs": {
                    "token": "YOUR_APIFY_API_KEY"
                  },
                  "encoding": null,
                  "json": false,
                  "useStream": true
                }
              },
              "functionality": "regular",
              "name": "NodeApiError",
              "node": {
                "parameters": {
                  "preBuiltAgentsCalloutHttpRequest": "",
                  "curlImport": "",
                  "method": "POST",
                  "url": "https://api.apify.com/v2/acts/compass~crawler-google-places/runs",
                  "authentication": "none",
                  "provideSslCertificates": false,
                  "sendQuery": true,
                  "specifyQuery": "keypair",
                  "queryParameters": {
                    "parameters": [
                      {
                        "name": "token",
                        "value": "={{ $json.apify_api_key }}"
                      }
                    ]
                  },
                  "sendHeaders": true,
                  "specifyHeaders": "keypair",
                  "headerParameters": {
                    "parameters": [
                      {
                        "name": "Content-Type",
                        "value": "application/json"
                      }
                    ]
                  },
                  "sendBody": true,
                  "contentType": "json",
                  "specifyBody": "json",
                  "jsonBody": "={{ $json.apifyInput }}",
                  "options": {},
                  "infoMessage": ""
                },
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                  2048,
                  336
                ],
                "id": "45bd01fb-9e53-4b8e-bcf3-f52dba83f612",
                "name": "Start Apify Actor"
              },
              "messages": [
                "getaddrinfo EAI_AGAIN api.apify.com",
                "getaddrinfo EAI_AGAIN api.apify.com"
              ],
              "httpCode": "EAI_AGAIN",
              "message": "The DNS server returned an error, perhaps the server is offline",
              "stack": "NodeApiError: The DNS server returned an error, perhaps the server is offline\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_afd197edb2c1f848eae21a96a97fab23/node_modules/n8n-nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts:847:16)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_08b575bec2313d5d8a4cc75358971443/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1254:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_08b575bec2313d5d8a4cc75358971443/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1428:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_08b575bec2313d5d8a4cc75358971443/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1760:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_08b575bec2313d5d8a4cc75358971443/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2337:11"
            },
            "lastNodeExecuted": "Start Apify Actor",
            "mode": "webhook"
          },
          "workflow": {
            "id": "Tz2ITCKb2ut8J2ue",
            "name": "3 - Google Maps Scraper"
          }
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate & Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Prepare Input": {
      "main": [
        [
          {
            "node": "Respond ACK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark Job Running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Job Running": {
      "main": [
        [
          {
            "node": "Get Data Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data Back": {
      "main": [
        [
          {
            "node": "Start Apify Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Apify Actor": {
      "main": [
        [
          {
            "node": "Extract Run Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Run Info": {
      "main": [
        [
          {
            "node": "Wait 60s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 60s": {
      "main": [
        [
          {
            "node": "Check Actor Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Actor Status": {
      "main": [
        [
          {
            "node": "Parse Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Status": {
      "main": [
        [
          {
            "node": "Is Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Completed?": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 30s More",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s More": {
      "main": [
        [
          {
            "node": "Check Actor Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get Scraped Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scraped Results": {
      "main": [
        [
          {
            "node": "Transform Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Results": {
      "main": [
        [
          {
            "node": "Prepare Bulk Insert node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Bulk Insert node": {
      "main": [
        [
          {
            "node": "Bulk Insert to Staging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bulk Insert to Staging": {
      "main": [
        [
          {
            "node": "Calculate Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Stats": {
      "main": [
        [
          {
            "node": "Update User Credit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User Credit": {
      "main": [
        [
          {
            "node": "Mark Job Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Mark Job Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "abb01e21-1419-4b7a-a2f8-078a74edbdcd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dca663e37726c81a3c935629cd2e11de0f4e015136ab9b3a68a64819241cd7b9"
  },
  "id": "Tz2ITCKb2ut8J2ue",
  "tags": []
}