workflows/06A_basic_enrichment.json
{
  "name": "6A - Basic Enrichment",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -320,
        32
      ],
      "id": "a19bda1d-a2a6-45c9-9da7-ee0ff4dab750",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "60941732-7f9e-4dec-8237-043f23ab62d1",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        -16
      ],
      "id": "0ed8056c-1e23-488e-9955-0f0cdd9d9f03",
      "name": "Check if Any"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  cl.id,\n  cl.user_id,\n  cl.company_name,\n  cl.email,\n  cl.phone,\n  cl.website,\n  cl.city,\n  cl.state,\n  cl.country,\n  cl.email_valid,\n  cl.category,\n  cl.rating,\n  cl.review_count\nFROM cleaned_leads cl\nLEFT JOIN enriched_leads el ON cl.id = el.lead_id\nWHERE el.id IS NULL\nAND (cl.email_valid = TRUE OR cl.phone IS NOT NULL)\nORDER BY \n  CASE \n    WHEN cl.email_valid = TRUE THEN 1\n    WHEN cl.rating >= 4.5 THEN 2\n    ELSE 3\n  END\nLIMIT 10",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        304,
        -16
      ],
      "id": "eb422222-f1b2-44e0-a88d-6f277d5ba05a",
      "name": "Get Leads - Stage 1",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const leads = $input.all();\nconst enrichedLeads = [];\n\n// Helper: Extract domain from email\nfunction extractDomain(email) {\n  if (!email) return null;\n  const match = email.match(/@([a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})$/);\n  return match ? match[1].toLowerCase() : null;\n}\n\n// Helper: Extract domain from website\nfunction extractDomainFromWebsite(website) {\n  if (!website) return null;\n  try {\n    const url = new URL(website.startsWith('http') ? website : 'https://' + website);\n    return url.hostname.replace(/^www\\./, '').toLowerCase();\n  } catch {\n    return null;\n  }\n}\n\n// Helper: Detect country from phone\nfunction detectGeoFromPhone(phone) {\n  if (!phone) return { country: 'Unknown', timezone: 'UTC', code: 'XX' };\n  \n  const geoMap = {\n    '+1': { country: 'United States', timezone: 'America/New_York', code: 'US' },\n    '+44': { country: 'United Kingdom', timezone: 'Europe/London', code: 'GB' },\n    '+92': { country: 'Pakistan', timezone: 'Asia/Karachi', code: 'PK' },\n    '+91': { country: 'India', timezone: 'Asia/Kolkata', code: 'IN' }\n  };\n  \n  for (const [prefix, data] of Object.entries(geoMap)) {\n    if (phone.startsWith(prefix)) return data;\n  }\n  \n  return { country: 'Unknown', timezone: 'UTC', code: 'XX' };\n}\n\n// Process each lead\nfor (const item of leads) {\n  const lead = item.json;\n  \n  const emailDomain = extractDomain(lead.email);\n  const websiteDomain = extractDomainFromWebsite(lead.website);\n  const primaryDomain = websiteDomain || emailDomain;\n  const phoneGeo = detectGeoFromPhone(lead.phone);\n  \n  enrichedLeads.push({\n    lead_id: lead.id,\n    user_id: lead.user_id,\n    company_name: lead.company_name,\n    domain: primaryDomain,\n    detected_country: phoneGeo.country,\n    detected_timezone: phoneGeo.timezone,\n    phone_country_code: phoneGeo.code,\n    website: lead.website,\n    has_website: lead.website ? true : false,\n    enrichment_stage: 1\n  });\n}\n\nreturn enrichedLeads;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -96
      ],
      "id": "8aec7e03-9a08-4930-8180-e8c833ef792f",
      "name": "Extract Domain & Geographic Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "69680ee0-1c4a-427d-91e8-0175e0238f27",
              "leftValue": "={{ $json.has_website }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        928,
        -96
      ],
      "id": "36dad394-1ea6-4db3-a6e3-a922c54ec34d",
      "name": "Has Website?"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1296,
        48
      ],
      "id": "ce6214ec-e027-45e6-8158-ba38e2bfb725",
      "name": "Skip Website"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "enriched_leads",
          "mode": "list",
          "cachedResultName": "enriched_leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "domain": "={{ $json.domain }}",
            "detected_country": "={{ $json.detected_country }}",
            "detected_timezone": "={{ $json.detected_timezone }}",
            "phone_country_code": "={{ $json.phone_country_code }}",
            "lead_score": 0,
            "id": 0,
            "linkedin_followers": 0,
            "optimal_contact_hour": 0,
            "website_description": "={{ $json.website_description }}",
            "has_contact_form": "={{ $json.has_contact_form }}",
            "technologies_detected": "={{ $json.technologies_detected }}",
            "enrichment_stage": 1
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "business_category",
              "displayName": "business_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_score",
              "displayName": "lead_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "enriched_at",
              "displayName": "enriched_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "domain",
              "displayName": "domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_linkedin_url",
              "displayName": "company_linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin_employee_count",
              "displayName": "linkedin_employee_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin_industry",
              "displayName": "linkedin_industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin_headquarters",
              "displayName": "linkedin_headquarters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin_followers",
              "displayName": "linkedin_followers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin_specialties",
              "displayName": "linkedin_specialties",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_news",
              "displayName": "company_news",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "latest_blog_post",
              "displayName": "latest_blog_post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "latest_social_post",
              "displayName": "latest_social_post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_company_summary",
              "displayName": "ai_company_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_personalization_angle",
              "displayName": "ai_personalization_angle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "detected_timezone",
              "displayName": "detected_timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "detected_country",
              "displayName": "detected_country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "detected_region",
              "displayName": "detected_region",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_country_code",
              "displayName": "phone_country_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "optimal_contact_hour",
              "displayName": "optimal_contact_hour",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_sources_used",
              "displayName": "data_sources_used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "website_description",
              "displayName": "website_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "has_contact_form",
              "displayName": "has_contact_form",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "technologies_detected",
              "displayName": "technologies_detected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "enrichment_stage",
              "displayName": "enrichment_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1904,
        -224
      ],
      "id": "65d84c5b-b141-472f-9e01-340510e84976",
      "name": "Insert Stage 1 Enrichment",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the online presence of this company:\n\nCompany Name: {{ $json.company_name }}\nDomain: {{ $json.domain }}\nWebsite: {{ $json.website }}\nIndustry: Coffee Shop\nLocation: {{ $json.city }}, {{ $json.state }}\n\nBased on the company name and domain, provide:\n\n1. **website_description**: A 1-sentence description of what their website likely contains (e.g., \"Coffee shop website featuring menu, locations, and online ordering\")\n\n2. **has_contact_form**: Would a company like this typically have a contact form on their website? (true/false/null)\n\n3. **has_social_media**: Would they likely have social media presence? (true/false)\n\n4. **likely_technologies**: What 2-3 technologies might they use? (e.g., WordPress, Shopify, Square, Instagram)\n\n5. **online_maturity**: Rate their digital presence: \"basic\" (just info), \"moderate\" (has some features), or \"advanced\" (e-commerce, app, etc.)\n\nReturn ONLY this JSON format:\n{\n  \"website_description\": \"one sentence description\",\n  \"has_contact_form\": true/false/null,\n  \"has_social_media\": true/false,\n  \"likely_technologies\": [\"tech1\", \"tech2\"],\n  \"online_maturity\": \"basic/moderate/advanced\"\n}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a website and online presence analyst. You research companies' digital footprint and make intelligent assessments about their online presence based on their name, domain, and industry. Be concise and accurate."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1216,
        -352
      ],
      "id": "69960724-acf9-4f85-8ffe-7c38356c2e71",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1136,
        -144
      ],
      "id": "3fcdc1cd-c4b2-4f54-ae6b-07c18ec1e7f8",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "QQB9yzE6weHJvRcp",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"website_description\": {\n      \"type\": \"string\",\n      \"description\": \"Brief description of website\"\n    },\n    \"has_contact_form\": {\n      \"type\": [\"boolean\", \"null\"],\n      \"description\": \"Has contact form\"\n    },\n    \"has_social_media\": {\n      \"type\": \"boolean\",\n      \"description\": \"Has social media\"\n    },\n    \"likely_technologies\": {\n      \"type\": \"array\",\n      \"items\": {\"type\": \"string\"},\n      \"description\": \"Technologies used\"\n    },\n    \"online_maturity\": {\n      \"type\": \"string\",\n      \"enum\": [\"basic\", \"moderate\", \"advanced\"],\n      \"description\": \"Digital maturity level\"\n    }\n  },\n  \"required\": [\"website_description\", \"online_maturity\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1456,
        -160
      ],
      "id": "479f26a2-2dc4-4e6c-89e1-ce764667bb19",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const agentOutput = $input.first().json.output || {};\nconst lead = $('Extract Domain & Geographic Data').item.json;\n\nreturn {\n  ...lead,\n  website_description: agentOutput.website_description || null,\n  has_contact_form: agentOutput.has_contact_form,\n  has_social_media: agentOutput.has_social_media || false,\n  technologies_detected: JSON.stringify(agentOutput.likely_technologies || []),\n  online_maturity: agentOutput.online_maturity || 'unknown'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        -224
      ],
      "id": "ed13fcf0-8ee9-498c-a702-6b7e36c1d518",
      "name": "Process Website Intelligence"
    },
    {
      "parameters": {
        "toolDescription": "Search Google for current information about companies and websites",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=q = {{query}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1312,
        -160
      ],
      "id": "cbb31197-2d96-46cf-ba1b-3caef4fef65d",
      "name": "Web Search",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SMYLTdHXdM2qnLyo",
          "name": "Twilio API"
        }
      }
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "id": 1,
          "user_id": 1,
          "company_name": "Blue Bottle Coffee",
          "email": "hello@bluebottlecoffee.com",
          "phone": "+14155551001",
          "website": "https://bluebottlecoffee.com",
          "address": "300 Webster St",
          "city": "Oakland",
          "state": "California",
          "country": "US",
          "zip_code": "94607",
          "email_valid": true,
          "category": "Coffee Shop",
          "rating": 4.6,
          "review_count": 523
        }
      },
      {
        "json": {
          "id": 2,
          "user_id": 1,
          "company_name": "Philz Coffee",
          "email": "contact@philzcoffee.com",
          "phone": "+14155551002",
          "website": "https://philzcoffee.com",
          "address": "3101 24th St",
          "city": "San Francisco",
          "state": "California",
          "country": "US",
          "zip_code": "94110",
          "email_valid": true,
          "category": "Coffee Shop",
          "rating": 4.5,
          "review_count": 892
        }
      },
      {
        "json": {
          "id": 3,
          "user_id": 1,
          "company_name": "Intelligentsia Coffee",
          "email": "info@intelligentsiacoffee.com",
          "phone": "+13125551003",
          "website": "https://intelligentsiacoffee.com",
          "address": "53 W Jackson Blvd",
          "city": "Chicago",
          "state": "Illinois",
          "country": "US",
          "zip_code": "60604",
          "email_valid": true,
          "category": "Coffee Roaster",
          "rating": 4.7,
          "review_count": 1245
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Leads - Stage 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Any": {
      "main": [
        [
          {
            "node": "Extract Domain & Geographic Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Leads - Stage 1": {
      "main": [
        [
          {
            "node": "Check if Any",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Domain & Geographic Data": {
      "main": [
        [
          {
            "node": "Has Website?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Website?": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Process Website Intelligence": {
      "main": [
        [
          {
            "node": "Insert Stage 1 Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Process Website Intelligence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Website": {
      "main": [
        [
          {
            "node": "Process Website Intelligence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Web Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3aba928b-99a8-4fc1-820a-142f2e00df1a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dca663e37726c81a3c935629cd2e11de0f4e015136ab9b3a68a64819241cd7b9"
  },
  "id": "iCxcuTaXccj2SnEA",
  "tags": []
}