workflows/06C_outreach_strategy_generator.json
{
  "name": "6C - Outreach Strategy Generator",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ee2dc3a2-b900-439c-a16d-297b626a507e",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "id": "1fe6908b-2d50-40a5-8931-4069c1ce855d",
      "name": "Any Leads Ready?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a personalized outreach strategy for this prospect:\n\nCOMPANY PROFILE:\n- Name: {{ $json.company_name }}\n- Location: {{ $json.city }}, {{ $json.state }}, {{ $json.detected_country }}\n- Industry: {{ $json.category }}\n- Rating: {{ $json.rating }}/5 ({{ $json.review_count }} reviews)\n\nBUSINESS INTELLIGENCE:\n- Products/Services: {{ $json.products_services }}\n- Target Customer: {{ $json.target_customer }}\n- Company Size: {{ $json.company_size }}\n- Decision Maker: {{ $json.decision_maker_access }}\n- Website: {{ $json.domain || 'Not available' }}\n- LinkedIn: {{ $json.company_linkedin_url || 'Not found' }}\n\nPAIN POINTS IDENTIFIED:\n{{ $json.pain_points }}\n\nPERSONALIZATION ANGLE:\n{{ $json.personalization_hook }}\n\nRECENT ACTIVITY:\n{{ $json.recent_news || 'None found' }}\n\n---\n\nYOUR TASK: Create a complete multi-channel outreach strategy.\n\nGenerate these fields:\n\n1. email_subject_line: Max 60 chars, personalized, no generic phrases\n2. opening_sentence: 1-2 sentences referencing their specific situation\n3. email_body: Full email body 3-4 sentences solving their pain point\n4. follow_up_day_3: Short follow-up adding new value\n5. follow_up_day_7: Different angle, final attempt\n6. linkedin_connection_note: Max 300 chars connection request\n7. linkedin_first_message: First message after connecting, max 500 chars\n8. linkedin_approach: Use \"connection_request\"\n9. sms_message: Max 140 chars, must end with \"Reply STOP to opt-out\"\n10. sms_timing: When to send e.g. \"After email if no response in 3 days\"\n11. whatsapp_message: Max 500 chars, casual tone, can use emojis\n12. whatsapp_timing: When to send e.g. \"After SMS if no response in 5 days\"\n13. estimated_response_rate: Honest % estimate e.g. \"15%\"\n14. channel_strategy: Object with primary_channel, secondary_channel\n\nReturn ONLY this exact JSON structure, no other text:\n\n{\n  \"email_subject_line\": \"...\",\n  \"opening_sentence\": \"...\",\n  \"email_body\": \"...\",\n  \"follow_up_day_3\": \"...\",\n  \"follow_up_day_7\": \"...\",\n  \"linkedin_connection_note\": \"...\",\n  \"linkedin_first_message\": \"...\",\n  \"linkedin_approach\": \"connection_request\",\n  \"sms_message\": \"...\",\n  \"sms_timing\": \"After email if no response in 3 days\",\n  \"whatsapp_message\": \"...\",\n  \"whatsapp_timing\": \"After SMS if no response in 5 days\",\n  \"estimated_response_rate\": \"15%\",\n  \"channel_strategy\": {\n    \"primary_channel\": \"email\",\n    \"secondary_channel\": \"linkedin\"\n  }\n}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert cold email strategist and B2B sales copywriter. You create personalized, high-converting outreach campaigns based on deep company intelligence. Your emails get opened, read, and responded to because they're highly relevant and valuable. Focus on solving the prospect's specific pain points."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        816,
        -240
      ],
      "id": "582fbbe8-6916-4a85-bc70-7f925801f0c7",
      "name": "AI Agent - Outreach Strategist"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        768,
        0
      ],
      "id": "b5409b98-33e9-4398-8fc7-7559cd6075ba",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "QQB9yzE6weHJvRcp",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"q\": \"{{query}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        912,
        0
      ],
      "id": "3501f259-4134-4372-a17d-692d7da6130e",
      "name": "Web Search",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SMYLTdHXdM2qnLyo",
          "name": "Twilio API"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"email_subject_line\": {\"type\": \"string\"},\n    \"opening_sentence\": {\"type\": \"string\"},\n    \"email_body\": {\"type\": \"string\"},\n    \"follow_up_day_3\": {\"type\": \"string\"},\n    \"follow_up_day_7\": {\"type\": \"string\"},\n    \"linkedin_connection_note\": {\"type\": \"string\"},\n    \"linkedin_first_message\": {\"type\": \"string\"},\n    \"linkedin_approach\": {\"type\": \"string\"},\n    \"sms_message\": {\"type\": \"string\"},\n    \"sms_timing\": {\"type\": \"string\"},\n    \"whatsapp_message\": {\"type\": \"string\"},\n    \"whatsapp_timing\": {\"type\": \"string\"},\n    \"estimated_response_rate\": {\"type\": \"string\"},\n    \"channel_strategy\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"primary_channel\": {\"type\": \"string\"},\n        \"secondary_channel\": {\"type\": \"string\"}\n      }\n    }\n  },\n  \"required\": [\"email_subject_line\", \"opening_sentence\", \"email_body\", \"sms_message\", \"whatsapp_message\", \"linkedin_connection_note\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1040,
        0
      ],
      "id": "5742d432-787d-4292-bd07-4c87b5cef6e0",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const strategy = $input.item.json.output || {};\nconst lead = $('Get Stage 2 Leads').item.json;\n\n// Parse pain points safely\nlet painPoints = [];\ntry {\n  painPoints = typeof lead.pain_points === 'string'\n    ? JSON.parse(lead.pain_points)\n    : lead.pain_points || [];\n} catch(e) { painPoints = []; }\n\n// Score calculation\nlet finalScore = 0;\n\n// Contact quality (20pts)\nif (lead.email) finalScore += 15;\nif (lead.domain) finalScore += 5;\n\n// Business intelligence (25pts)\nif (lead.company_size === 'medium' || lead.company_size === 'large') finalScore += 15;\nelse if (lead.company_size === 'small') finalScore += 10;\nif (painPoints.length >= 3) finalScore += 10;\n\n// Business health (20pts)\nif (lead.rating >= 4.5) finalScore += 12;\nelse if (lead.rating >= 4.0) finalScore += 8;\nelse if (lead.rating >= 3.5) finalScore += 4;\nif (lead.review_count > 500) finalScore += 8;\nelse if (lead.review_count > 100) finalScore += 5;\nelse if (lead.review_count > 20) finalScore += 3;\n\n// Personalization quality (20pts)\nif (lead.personalization_hook && lead.personalization_hook.length > 20) finalScore += 10;\nif (strategy.email_subject_line) finalScore += 10;\n\n// Response rate (15pts)\nconst responseRate = parseInt(strategy.estimated_response_rate) || 0;\nif (responseRate >= 25) finalScore += 15;\nelse if (responseRate >= 15) finalScore += 10;\nelse if (responseRate >= 10) finalScore += 5;\n\n// Priority\nlet priority = 'cold';\nif (finalScore >= 75) priority = 'hot';\nelse if (finalScore >= 55) priority = 'warm';\n\n// Engagement\nlet engagement = 'not_ready';\nif (lead.email && finalScore >= 70) engagement = 'ready';\nelse if (finalScore >= 50) engagement = 'needs_nurturing';\n\nreturn {\n  lead_id: lead.id,\n  company_name: lead.company_name,\n  email_should_use: lead.email ? true : false,\n  email_subject_line: strategy.email_subject_line || null,\n  email_opening: strategy.opening_sentence || null,\n  email_body_template: strategy.email_body || null,\n  email_follow_up_day_3: strategy.follow_up_day_3 || null,\n  email_follow_up_day_7: strategy.follow_up_day_7 || null,\n  linkedin_should_use: lead.company_linkedin_url ? true : false,\n  linkedin_connection_note: strategy.linkedin_connection_note || null,\n  linkedin_first_message: strategy.linkedin_first_message || null,\n  linkedin_approach: strategy.linkedin_approach || 'connection_request',\n  sms_should_use: lead.phone ? true : false,\n  sms_message: strategy.sms_message || null,\n  sms_timing: strategy.sms_timing || 'After email if no response in 3 days',\n  whatsapp_should_use: lead.phone ? true : false,\n  whatsapp_message: strategy.whatsapp_message || null,\n  whatsapp_timing: strategy.whatsapp_timing || 'After SMS if no response in 5 days',\n  primary_channel: strategy.channel_strategy?.primary_channel || (lead.email ? 'email' : 'sms'),\n  lead_score: Math.min(100, finalScore),\n  priority: priority,\n  engagement_readiness: engagement\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -96
      ],
      "id": "9a0ba8e4-98a8-4ee2-9bc5-bdff1441bc14",
      "name": "Calculate Final Lead Score"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"lead_id\": \"{{ $json.lead_id }}\",\n  \"company_name\": \"{{$json.company_name}}\",\n  \"lead_score\": \"{{$json.lead_score}}\",\n  \"priority\": \"{{$json.priority}}\",\n  \"primary_channel\": \"{{$json.primary_channel}}\",\n  \"engagement_readiness\": \"{{$json.engagement_readiness}}\",\n  \"email_should_use\": \"{{$json.email_should_use}}\",\n  \"email_subject_line\": \"{{$json.email_subject_line}}\",\n  \"email_opening\": \"{{$json.email_opening}}\",\n  \"email_body_template\": \"{{$json.email_body_template}}\",\n  \"email_follow_up_day_3\": \"{{$json.email_follow_up_day_3}}\",\n  \"email_follow_up_day_7\": \"{{$json.email_follow_up_day_7}}\",\n  \"linkedin_should_use\": \"{{$json.linkedin_should_use}}\",\n  \"linkedin_connection_note\": \"{{$json.linkedin_connection_note}}\",\n  \"linkedin_first_message\": \"{{$json.linkedin_first_message}}\",\n  \"sms_should_use\": \"{{$json.sms_should_use}}\",\n  \"sms_message\": \"{{$json.sms_message}}\",\n  \"sms_timing\": \"{{$json.sms_timing}}\",\n  \"whatsapp_should_use\": \"{{$json.whatsapp_should_use}}\",\n  \"whatsapp_message\": \"{{$json.whatsapp_message}}\",\n  \"whatsapp_timing\": \"{{$json.whatsapp_timing}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1408,
        -96
      ],
      "id": "91075eca-e942-46f4-910b-7c63b68166c0",
      "name": "View Complete Outreach Strategy"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO enriched_leads (\n  lead_id,\n  email_should_use, email_subject_line, email_opening,\n  email_body_template, email_follow_up_day_3, email_follow_up_day_7,\n  linkedin_should_use, linkedin_connection_note, linkedin_first_message,\n  linkedin_approach, sms_should_use, sms_message, sms_timing,\n  whatsapp_should_use, whatsapp_message, whatsapp_timing,\n  primary_channel, lead_score, priority, engagement_readiness,\n  enrichment_stage\n) VALUES (\n  {{$json.lead_id || 0}},\n\n  {{$json.email_should_use || false}},\n  '{{$json.email_subject_line ? $json.email_subject_line.replace(/'/g, \"''\") : \"\"}}',\n  '{{$json.email_opening ? $json.email_opening.replace(/'/g, \"''\") : \"\"}}',\n\n  '{{$json.email_body_template ? $json.email_body_template.replace(/'/g, \"''\") : \"\"}}',\n  '{{$json.email_follow_up_day_3 ? $json.email_follow_up_day_3.replace(/'/g, \"''\") : \"\"}}',\n  '{{$json.email_follow_up_day_7 ? $json.email_follow_up_day_7.replace(/'/g, \"''\") : \"\"}}',\n\n  {{$json.linkedin_should_use || false}},\n  '{{$json.linkedin_connection_note ? $json.linkedin_connection_note.replace(/'/g, \"''\") : \"\"}}',\n  '{{$json.linkedin_first_message ? $json.linkedin_first_message.replace(/'/g, \"''\") : \"\"}}',\n  '{{$json.linkedin_approach ? $json.linkedin_approach.replace(/'/g, \"''\") : \"\"}}',\n\n  {{$json.sms_should_use || false}},\n  '{{$json.sms_message ? $json.sms_message.replace(/'/g, \"''\") : \"\"}}',\n  '{{$json.sms_timing ? $json.sms_timing.replace(/'/g, \"''\") : \"\"}}',\n\n  {{$json.whatsapp_should_use || false}},\n  '{{$json.whatsapp_message ? $json.whatsapp_message.replace(/'/g, \"''\") : \"\"}}',\n  '{{$json.whatsapp_timing ? $json.whatsapp_timing.replace(/'/g, \"''\") : \"\"}}',\n\n  '{{$json.primary_channel || \"\"}}',\n  {{$json.lead_score || 0}},\n  '{{$json.priority || \"\"}}',\n  '{{$json.engagement_readiness || \"\"}}',\n\n  3\n)\nON CONFLICT (lead_id) DO UPDATE SET\n  email_should_use = EXCLUDED.email_should_use,\n  email_subject_line = EXCLUDED.email_subject_line,\n  email_opening = EXCLUDED.email_opening,\n  email_body_template = EXCLUDED.email_body_template,\n  email_follow_up_day_3 = EXCLUDED.email_follow_up_day_3,\n  email_follow_up_day_7 = EXCLUDED.email_follow_up_day_7,\n  linkedin_should_use = EXCLUDED.linkedin_should_use,\n  linkedin_connection_note = EXCLUDED.linkedin_connection_note,\n  linkedin_first_message = EXCLUDED.linkedin_first_message,\n  linkedin_approach = EXCLUDED.linkedin_approach,\n  sms_should_use = EXCLUDED.sms_should_use,\n  sms_message = EXCLUDED.sms_message,\n  sms_timing = EXCLUDED.sms_timing,\n  whatsapp_should_use = EXCLUDED.whatsapp_should_use,\n  whatsapp_message = EXCLUDED.whatsapp_message,\n  whatsapp_timing = EXCLUDED.whatsapp_timing,\n  primary_channel = EXCLUDED.primary_channel,\n  lead_score = EXCLUDED.lead_score,\n  priority = EXCLUDED.priority,\n  engagement_readiness = EXCLUDED.engagement_readiness,\n  enrichment_stage = 3;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1616,
        -96
      ],
      "id": "7c6fecd0-f1e3-4005-b1e9-7643a493bb56",
      "name": "Insert Outreach Strategy",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  cl.id,\n  cl.company_name,\n  cl.email,\n  cl.phone,\n  cl.website,\n  cl.city,\n  cl.state,\n  cl.country,\n  cl.category,\n  cl.rating,\n  cl.review_count,\n  el.domain,\n  el.detected_country,\n  el.detected_timezone,\n  el.products_services,\n  el.pain_points,\n  el.company_size,\n  el.decision_maker_access,\n  el.personalization_hook,\n  el.company_linkedin_url,\n  el.recent_news\nFROM cleaned_leads cl\nJOIN enriched_leads el ON cl.id = el.lead_id\nWHERE el.enrichment_stage = 2\nORDER BY cl.rating DESC\nLIMIT 2",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        368,
        0
      ],
      "id": "6688ef9d-1610-41ee-abd2-c70dafaac9d8",
      "name": "Get Stage 2 Leads",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        192,
        0
      ],
      "id": "d3bd43ff-05e6-4c6d-8a38-be977c1206f8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "## ✍️Outreach Strategy Stage 3\n\n**Purpose**\nThe final enrichment stage. Uses all research from Stage 1 and 2 to create a complete, personalized outreach plan for each lead across all channels.\n\n**How it works**\nPicks Stage 2 leads → AI generates: email subject line, opening message, SMS text, WhatsApp message, LinkedIn connection note, best send time, and follow-up sequences → calculates final lead score → labels lead as **hot / warm / cold**.\n\n**Key Rules**\n- Lead score is calculated out of **100 points**\n- Score 75+ = 🔥 Hot | 55–74 = 🌡️ Warm | Below = 🧊 Cold\n- Sets `enrichment_stage = 3, lead is now ready for outreach",
        "height": 544,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        -576
      ],
      "typeVersion": 1,
      "id": "de92abb4-59c3-4b06-be47-032733f6ce3f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      id: 1, company_name: \"Blue Bottle Coffee\",\n      email: \"info@bluebottlecoffee.com\",\n      phone: \"+14155551234\",\n      city: \"San Francisco\", state: \"CA\",\n      country: \"US\", category: \"Coffee Shop\",\n      rating: 4.7, review_count: 523,\n      domain: \"bluebottlecoffee.com\",\n      detected_country: \"United States\",\n      detected_timezone: \"America/Los_Angeles\",\n      products_services: \"Specialty coffee roasting and retail\",\n      pain_points: [\"Scaling operations\", \"Staff retention\", \"Supply chain\"],\n      company_size: \"medium\",\n      decision_maker_access: \"Regional Manager\",\n      personalization_hook: \"Recently expanded to 3 new locations\",\n      company_linkedin_url: \"https://linkedin.com/company/blue-bottle-coffee\",\n      recent_news: \"Opened new Oakland roastery\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        208
      ],
      "id": "8568aae2-c441-4085-891d-1cd38145aeb3",
      "name": "Mock Stage 2 Ready",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Any Leads Ready?": {
      "main": [
        [
          {
            "node": "AI Agent - Outreach Strategist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Outreach Strategist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Web Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Outreach Strategist",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent - Outreach Strategist",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Outreach Strategist": {
      "main": [
        [
          {
            "node": "Calculate Final Lead Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Final Lead Score": {
      "main": [
        [
          {
            "node": "View Complete Outreach Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Outreach Strategy": {
      "main": [
        []
      ]
    },
    "Get Stage 2 Leads": {
      "main": [
        [
          {
            "node": "Any Leads Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "View Complete Outreach Strategy": {
      "main": [
        [
          {
            "node": "Insert Outreach Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Stage 2 Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "92bc8a6a-e043-452c-85d2-a5354a60ea38",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dca663e37726c81a3c935629cd2e11de0f4e015136ab9b3a68a64819241cd7b9"
  },
  "id": "27W04lgTGdgFMWUx",
  "tags": []
}