workflows/06C_outreach_strategy_generator.json
{
  "name": "6C - Outreach Strategy Generator",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        0
      ],
      "id": "daeb281e-7967-4dc9-a90c-95ee73d638d4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      id: 1,\n      company_name: \"Blue Bottle Coffee\",\n      email: \"hello@bluebottlecoffee.com\",\n      city: \"Oakland\",\n      state: \"California\",\n      rating: 4.6,\n      review_count: 523,\n      \n      // Stage 1 data\n      domain: \"bluebottlecoffee.com\",\n      detected_country: \"United States\",\n      detected_timezone: \"America/New_York\",\n      website_description: \"Specialty coffee roaster with online store\",\n      \n      // Stage 2 AI research data\n      products_services: \"Specialty coffee roaster offering whole bean coffee, espresso, brewing equipment, and café experiences\",\n      target_customer: \"B2C\",\n      pain_points: '[\"High competition from chains\",\"Managing quality across locations\",\"Supply chain costs for premium beans\"]',\n      company_size: \"medium\",\n      decision_maker_access: \"Regional Manager or Director of Operations\",\n      personalization_hook: \"Premium specialty roaster with 523 positive reviews and strong Oakland community presence\",\n      recent_news: \"Expanding café locations and online subscription service\"\n    }\n  },\n  {\n    json: {\n      id: 2,\n      company_name: \"Philz Coffee\",\n      email: \"contact@philzcoffee.com\",\n      city: \"San Francisco\",\n      state: \"California\",\n      rating: 4.5,\n      review_count: 892,\n      \n      domain: \"philzcoffee.com\",\n      detected_country: \"United States\",\n      detected_timezone: \"America/New_York\",\n      website_description: \"Custom blended coffee shop\",\n      \n      products_services: \"Custom coffee blends with unique flavor profiles, pour-over service\",\n      target_customer: \"B2C\",\n      pain_points: '[\"Scaling personalized service\",\"Training staff on custom blends\",\"Competition from automated coffee shops\"]',\n      company_size: \"small\",\n      decision_maker_access: \"Owner or General Manager\",\n      personalization_hook: \"Known for personalized customer service with 892 reviews\",\n      recent_news: \"Opening new locations in Bay Area\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        0
      ],
      "id": "0c1e87bd-3555-41a6-b558-d68e1c3d715b",
      "name": "Test Data - Stage 3 Ready"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ee2dc3a2-b900-439c-a16d-297b626a507e",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        352,
        0
      ],
      "id": "1fe6908b-2d50-40a5-8931-4069c1ce855d",
      "name": "Any Leads Ready?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a personalized outreach strategy for this prospect:\n\nCOMPANY PROFILE:\n- Name: {{ $json.company_name }}\n- Location: {{ $json.city }}, {{ $json.state }}\n- Industry: Coffee/Specialty Retail\n- Rating: {{ $json.rating }}/5 ({{ $json.review_count }} reviews)\n\nBUSINESS INTELLIGENCE:\n- Products/Services: {{ $json.products_services }}\n- Target Customer: {{ $json.target_customer }}\n- Company Size: {{ $json.company_size }}\n- Decision Maker: {{ $json.decision_maker_access }}\n\nPAIN POINTS IDENTIFIED:\n{{ $json.pain_points }}\n\nPERSONALIZATION ANGLE:\n{{ $json.personalization_hook }}\n\nRECENT ACTIVITY:\n{{ $json.recent_news || 'None found' }}\n\n---\n\nYOUR TASK: Create a complete outreach strategy\n\n1. **email_subject_line**: \n   - Max 60 characters\n   - Personalized (use company name or specific detail)\n   - Creates curiosity or offers clear value\n   - NO generic phrases like \"Quick question\" or \"Following up\"\n\n2. **opening_sentence**:\n   - First line of email that grabs attention\n   - Reference their specific situation (location, reviews, or recent activity)\n   - Show you did research\n   - Max 2 sentences\n\n3. **pain_point_to_address**:\n   - Which ONE pain point from the list to focus on\n   - The most impactful one for initial outreach\n\n4. **value_proposition**:\n   - How you can help solve that specific pain point\n   - Keep it clear and benefit-focused\n   - One sentence\n\n5. **social_proof_angle**:\n   - What type of proof would resonate most\n   - Example: \"Show how we helped another coffee shop reduce costs by 30%\"\n\n6. **call_to_action**:\n   - What to ask for (15-min call, free audit, demo, etc.)\n   - Make it low-commitment and specific\n\n7. **best_send_time**:\n   - Optimal day and time in {{ $json.detected_timezone }} timezone\n   - Consider their business type (coffee shop = avoid early mornings)\n\n8. **follow_up_day_3**:\n   - Short follow-up message for 3 days after initial email\n   - Add new value or insight\n\n9. **follow_up_day_7**:\n   - Different angle for 7 days after\n   - Final attempt before moving to nurture\n\n10. **recommended_tone**:\n    - professional / casual / consultative\n    - Based on company size and decision maker\n\n11. **conversation_starters**:\n    - 2 specific questions that would engage them\n    - Related to their pain points or business\n\n12. **estimated_response_rate**:\n    - Your honest estimate: \"15%\" or \"25%\" etc.\n    - Based on personalization quality and company fit\n\n---\n\n// Add this to the END of your current prompt, BEFORE the JSON output section\n\n---\n\nSMS OUTREACH STRATEGY:\n\nDecide if SMS should be used:\n- Use SMS IF: Phone available AND (local business OR urgent offer OR B2C)\n- Character limit: 160 chars maximum (STRICT)\n- Timing: Business hours only (9 AM - 5 PM)\n- Tone: Very brief, professional, clear CTA\n- Must include: \"Reply STOP to opt-out\"\n\nGenerate SMS message format:\n\"Hi {{company_name}}! [One sentence value prop]. Interested? [CTA]. Reply STOP to opt-out\"\n\nExample: \"Hi Acme Corp! We help reduce costs 20%. Worth 15 min? Reply YES. Reply STOP to opt-out\"\n\n---\n\nWHATSAPP OUTREACH STRATEGY:\n\nDecide if WhatsApp should be used:\n- Use WhatsApp IF: Phone available AND (international OR mobile-first business OR after SMS)\n- Character limit: 500 chars recommended\n- More casual tone allowed\n- Can use professional emojis (👋 ✅ 📊)\n- Can include links\n\nGenerate WhatsApp message format:\n\"Hi {{company_name}}! 👋\\n\\n[Personalized intro]\\n\\n[Value prop with details]\\n\\nInterested in learning more?\"\n\n---\n\nNOW, update your JSON output to include:\n\n{\n  \"channel_strategy\": {\n    \"primary_channel\": \"email\",\n    \"secondary_channel\": \"linkedin\",\n    \"tertiary_channel\": \"sms\" or \"whatsapp\" or null\n  },\n  \n  \"email_subject_line\": \"...\",\n  \"opening_sentence\": \"...\",\n  \"pain_point_to_address\": \"...\",\n  \"value_proposition\": \"...\",\n  \"social_proof_angle\": \"...\",\n  \"call_to_action\": \"...\",\n  \"best_send_time\": \"...\",\n  \"follow_up_day_3\": \"...\",\n  \"follow_up_day_7\": \"...\",\n  \"recommended_tone\": \"...\",\n  \"conversation_starters\": [\"...\", \"...\"],\n  \"estimated_response_rate\": \"...\",\n  \n  \"sms_strategy\": {\n    \"should_use\": true,\n    \"priority\": 3,\n    \"message\": \"160 char SMS message\",\n    \"timing\": \"After email if no response in 3 days\",\n    \"tone\": \"professional\"\n  },\n  \n  \"whatsapp_strategy\": {\n    \"should_use\": true,\n    \"priority\": 4,\n    \"message\": \"WhatsApp message with emojis\",\n    \"timing\": \"After SMS if no response\",\n    \"include_media\": false\n  }\n}\n\nCRITICAL FORMATTING RULES:\n- should_use: Must be true or false (boolean, NOT \"true\" or \"false\" string)\n- priority: Must be integer (NOT string)\n- include_media: Must be true or false (boolean, NOT string)\n\nReturn ONLY valid JSON with correct types.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert cold email strategist and B2B sales copywriter. You create personalized, high-converting outreach campaigns based on deep company intelligence. Your emails get opened, read, and responded to because they're highly relevant and valuable. Focus on solving the prospect's specific pain points."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        608,
        -96
      ],
      "id": "582fbbe8-6916-4a85-bc70-7f925801f0c7",
      "name": "AI Agent - Outreach Strategist"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        528,
        128
      ],
      "id": "b5409b98-33e9-4398-8fc7-7559cd6075ba",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "QQB9yzE6weHJvRcp",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"q\": \"{{query}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        720,
        128
      ],
      "id": "3501f259-4134-4372-a17d-692d7da6130e",
      "name": "Web Search",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SMYLTdHXdM2qnLyo",
          "name": "Twilio API"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"channel_strategy\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"primary_channel\": { \"type\": \"string\" },\n        \"secondary_channel\": { \"type\": \"string\" },\n        \"tertiary_channel\": { \"type\": \"string\" },\n        \"strategy_type\": { \"type\": \"string\" },\n        \"reasoning\": { \"type\": \"string\" }\n      },\n      \"additionalProperties\": true\n    },\n    \"email_strategy\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"should_use\": { \"type\": \"boolean\" },\n        \"priority\": { \"type\": \"integer\" },\n        \"subject_line\": { \"type\": \"string\" },\n        \"email_subject_line\": { \"type\": \"string\" },\n        \"opening_sentence\": { \"type\": \"string\" },\n        \"pain_point_focus\": { \"type\": \"string\" },\n        \"pain_point_to_address\": { \"type\": \"string\" },\n        \"value_proposition\": { \"type\": \"string\" },\n        \"call_to_action\": { \"type\": \"string\" },\n        \"email_body_template\": { \"type\": \"string\" },\n        \"follow_up_day_3\": { \"type\": \"string\" },\n        \"follow_up_day_7\": { \"type\": \"string\" },\n        \"best_send_time\": { \"type\": \"string\" },\n        \"conversation_starters\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        },\n        \"recommended_tone\": { \"type\": \"string\" },\n        \"estimated_response_rate\": { \"type\": \"string\" },\n        \"social_proof_angle\": { \"type\": \"string\" }\n      },\n      \"additionalProperties\": true\n    },\n    \"linkedin_strategy\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"should_use\": { \"type\": \"boolean\" },\n        \"priority\": { \"type\": \"integer\" },\n        \"approach\": { \"type\": \"string\" },\n        \"connection_note\": { \"type\": \"string\" },\n        \"first_message\": { \"type\": \"string\" },\n        \"value_share_message\": { \"type\": \"string\" },\n        \"profile_engagement\": { \"type\": \"string\" }\n      },\n      \"additionalProperties\": true\n    },\n    \"sms_strategy\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"should_use\": { \"type\": \"boolean\" },\n        \"priority\": { \"type\": \"integer\" },\n        \"message\": { \"type\": \"string\" },\n        \"timing\": { \"type\": \"string\" },\n        \"tone\": { \"type\": \"string\" }\n      },\n      \"additionalProperties\": true\n    },\n    \"whatsapp_strategy\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"should_use\": { \"type\": \"boolean\" },\n        \"priority\": { \"type\": \"integer\" },\n        \"message\": { \"type\": \"string\" },\n        \"timing\": { \"type\": \"string\" },\n        \"include_media\": { \"type\": \"boolean\" }\n      },\n      \"additionalProperties\": true\n    },\n    \"sequence_plan\": {\n      \"type\": \"object\",\n      \"additionalProperties\": true\n    },\n    \"recommended_tone\": { \"type\": \"string\" },\n    \"estimated_response_rate\": { \"type\": \"string\" },\n    \"special_notes\": { \"type\": \"string\" }\n  },\n  \"additionalProperties\": true\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        848,
        128
      ],
      "id": "5742d432-787d-4292-bd07-4c87b5cef6e0",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const strategy = $input.first().json.output || {};\nconst lead = $('Test Data - Stage 3 Ready').item.json;\n\n// Parse pain points if string\nlet painPoints = [];\ntry {\n  painPoints = typeof lead.pain_points === 'string' \n    ? JSON.parse(lead.pain_points) \n    : lead.pain_points || [];\n} catch (e) {\n  painPoints = [];\n}\n\n// COMPREHENSIVE FINAL SCORE (0-100)\nlet finalScore = 0;\n\n// 1. Contact Data Quality (20 points)\nif (lead.email) finalScore += 15;\nif (lead.domain) finalScore += 5;\n\n// 2. Business Intelligence (25 points)\nif (lead.company_size === 'medium' || lead.company_size === 'large') {\n  finalScore += 15;\n} else if (lead.company_size === 'small') {\n  finalScore += 10;\n}\nif (painPoints.length >= 3) finalScore += 10;\n\n// 3. Business Health (20 points)\nif (lead.rating >= 4.5) finalScore += 12;\nelse if (lead.rating >= 4.0) finalScore += 8;\nelse if (lead.rating >= 3.5) finalScore += 4;\n\nif (lead.review_count > 500) finalScore += 8;\nelse if (lead.review_count > 100) finalScore += 5;\nelse if (lead.review_count > 20) finalScore += 3;\n\n// 4. Personalization Quality (20 points)\nif (lead.personalization_hook && lead.personalization_hook.length > 20) {\n  finalScore += 10;\n}\nif (strategy.email_subject_line && strategy.email_subject_line.length > 0) {\n  finalScore += 10;\n}\n\n// 5. Outreach Readiness (15 points)\nconst responseRate = parseInt(strategy.estimated_response_rate) || 0;\nif (responseRate >= 25) finalScore += 15;\nelse if (responseRate >= 15) finalScore += 10;\nelse if (responseRate >= 10) finalScore += 5;\n\n// ==============================\n// SMS & WHATSAPP SCORING (NEW)\n// ==============================\n\n// SMS/WhatsApp channel bonus\nif (strategy.sms_strategy?.should_use) {\n  finalScore += 5;\n}\n\nif (strategy.whatsapp_strategy?.should_use) {\n  finalScore += 5;\n}\n\n// Multi-channel availability bonus\nconst channelCount = [\n  strategy.email_strategy?.should_use,\n  strategy.linkedin_strategy?.should_use,\n  strategy.sms_strategy?.should_use,\n  strategy.whatsapp_strategy?.should_use\n].filter(Boolean).length;\n\nif (channelCount >= 3) {\n  finalScore += 10;\n}\n\n// ==============================\n\n// Determine Priority\nlet priority = 'cold';\nif (finalScore >= 75) priority = 'hot';\nelse if (finalScore >= 55) priority = 'warm';\n\n// Engagement Readiness\nlet engagement = 'not_ready';\nif (lead.email && finalScore >= 70) {\n  engagement = 'ready';\n} else if (finalScore >= 50) {\n  engagement = 'needs_nurturing';\n}\n\n// Optimal contact hour based on timezone\nlet optimalHour = 10; // Default 10 AM\nif (lead.detected_timezone && lead.detected_timezone.includes('America')) {\n  optimalHour = 10;\n}\n\nreturn {\n  lead_id: lead.id,\n  company_name: lead.company_name,\n  \n  // Outreach Strategy\n  email_subject_line: strategy.email_subject_line || null,\n  opening_hook: strategy.opening_sentence || null,\n  pain_point_focus: strategy.pain_point_to_address || null,\n  value_proposition: strategy.value_proposition || null,\n  social_proof_needed: strategy.social_proof_angle || null,\n  call_to_action: strategy.call_to_action || null,\n  timing_recommendation: strategy.best_send_time || null,\n  follow_up_sequence: JSON.stringify({\n    day_3: strategy.follow_up_day_3 || null,\n    day_7: strategy.follow_up_day_7 || null\n  }),\n  recommended_tone: strategy.recommended_tone || 'professional',\n  conversation_starters: JSON.stringify(strategy.conversation_starters || []),\n\n  // NEW: Channel Strategies\n  sms_strategy: JSON.stringify(strategy.sms_strategy || {}),\n  whatsapp_strategy: JSON.stringify(strategy.whatsapp_strategy || {}),\n  \n  // Scoring\n  lead_score: Math.min(100, finalScore),\n  priority: priority,\n  engagement_readiness: engagement,\n  optimal_contact_hour: optimalHour,\n  estimated_response_rate: strategy.estimated_response_rate || 'unknown',\n  \n  // Metadata\n  enrichment_stage: 3,\n  enrichment_complete: true\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -96
      ],
      "id": "9a0ba8e4-98a8-4ee2-9bc5-bdff1441bc14",
      "name": "Calculate Final Lead Score"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e8838a88-4a8b-432e-90db-2129d6b87f94",
              "name": "lead_id",
              "value": "={{ $json.lead_id }}",
              "type": "number"
            },
            {
              "id": "76ba5e0a-4696-4747-9651-ae5033405f52",
              "name": "company_name",
              "value": "={{ $json.company_name }}",
              "type": "string"
            },
            {
              "id": "16aadb76-ec43-408c-b8a7-ef471a540c74",
              "name": "lead_score",
              "value": "={{ $json.lead_score }}",
              "type": "number"
            },
            {
              "id": "6f234350-02af-4586-8477-6ad4f77a849d",
              "name": "priority",
              "value": "={{ $json.priority }}",
              "type": "string"
            },
            {
              "id": "542ca112-f957-4520-8885-646e2843056d",
              "name": "engagement_readiness",
              "value": "={{ $json.engagement_readiness }}",
              "type": "string"
            },
            {
              "id": "9a91111e-81cf-4d13-8701-351d5772f96d",
              "name": "email_subject_line",
              "value": "={{ $json.email_subject_line }}",
              "type": "string"
            },
            {
              "id": "c785234c-abf8-4b55-9d69-851d59237339",
              "name": "opening_hook",
              "value": "={{ $json.opening_hook }}",
              "type": "string"
            },
            {
              "id": "f6654203-746f-4289-873c-0ff00f938e58",
              "name": "pain_point_focus",
              "value": "={{ $json.pain_point_focus }}",
              "type": "string"
            },
            {
              "id": "3dd6b98c-8054-4129-9a5d-29278cc65acb",
              "name": "value_proposition",
              "value": "={{ $json.value_proposition }}",
              "type": "string"
            },
            {
              "id": "22f057f6-392a-4750-938d-1b066744ec22",
              "name": "call_to_action",
              "value": "={{ $json.call_to_action }}",
              "type": "string"
            },
            {
              "id": "6d2e7224-1435-4356-acc2-bc8b9b04d481",
              "name": "timing_recommendation",
              "value": "={{ $json.timing_recommendation }}",
              "type": "string"
            },
            {
              "id": "6abfba72-b13c-4ba9-858c-bb11a85e739b",
              "name": "follow_up_sequence",
              "value": "={{ $json.follow_up_sequence }}",
              "type": "string"
            },
            {
              "id": "f9867c5b-7d10-4435-9dc6-a2f2a38d461a",
              "name": "recommended_tone",
              "value": "={{ $json.recommended_tone }}",
              "type": "string"
            },
            {
              "id": "ac2b9a08-f62c-4139-b4b8-c29a3e734e47",
              "name": "estimated_response_rate",
              "value": "={{ $json.estimated_response_rate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1408,
        -96
      ],
      "id": "91075eca-e942-46f4-910b-7c63b68166c0",
      "name": "View Complete Outreach Strategy"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO enriched_leads (\n  lead_id,\n  \n  -- Email strategy\n  email_should_use,\n  email_subject_line,\n  email_opening,\n  email_body_template,\n  email_follow_up_day_3,\n  email_follow_up_day_7,\n  \n  -- LinkedIn strategy\n  linkedin_should_use,\n  linkedin_connection_note,\n  linkedin_first_message,\n  linkedin_approach,\n  \n  -- SMS strategy (ADD)\n  sms_should_use,\n  sms_message,\n  sms_timing,\n  \n  -- WhatsApp strategy (ADD)\n  whatsapp_should_use,\n  whatsapp_message,\n  whatsapp_timing,\n  \n  -- Scoring\n  primary_channel,\n  lead_score,\n  priority,\n  engagement_readiness,\n  enrichment_stage\n  \n) VALUES (\n  {{ $json.lead_id }},\n  \n  -- Email\n  {{ $json.email_strategy.should_use }},\n  '{{ $json.email_strategy.subject_line.replace(/'/g, \"''\") }}',\n  '{{ $json.email_strategy.opening_sentence.replace(/'/g, \"''\") }}',\n  '{{ $json.email_strategy.email_body_template.replace(/'/g, \"''\") }}',\n  '{{ $json.email_strategy.follow_up_day_3.replace(/'/g, \"''\") }}',\n  '{{ $json.email_strategy.follow_up_day_7.replace(/'/g, \"''\") }}',\n  \n  -- LinkedIn\n  {{ $json.linkedin_strategy.should_use }},\n  '{{ $json.linkedin_strategy.connection_note.replace(/'/g, \"''\") }}',\n  '{{ $json.linkedin_strategy.first_message.replace(/'/g, \"''\") }}',\n  '{{ $json.linkedin_strategy.approach }}',\n  \n  -- SMS (ADD)\n  {{ $json.sms_strategy.should_use }},\n  '{{ $json.sms_strategy.message.replace(/'/g, \"''\") }}',\n  '{{ $json.sms_strategy.timing }}',\n  \n  -- WhatsApp (ADD)\n  {{ $json.whatsapp_strategy.should_use }},\n  '{{ $json.whatsapp_strategy.message.replace(/'/g, \"''\") }}',\n  '{{ $json.whatsapp_strategy.timing }}',\n  \n  -- Scoring\n  '{{ $json.channel_strategy.primary_channel }}',\n  {{ $json.final_score }},\n  '{{ $json.priority }}',\n  '{{ $json.engagement_readiness }}',\n  3\n)\nON CONFLICT (lead_id) DO UPDATE SET\n  email_should_use = EXCLUDED.email_should_use,\n  email_subject_line = EXCLUDED.email_subject_line,\n  sms_should_use = EXCLUDED.sms_should_use,\n  whatsapp_should_use = EXCLUDED.whatsapp_should_use,\n  enrichment_stage = 3",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1200,
        -96
      ],
      "id": "7c6fecd0-f1e3-4005-b1e9-7643a493bb56",
      "name": "Insert Outreach Strategy",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Test Data - Stage 3 Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Data - Stage 3 Ready": {
      "main": [
        [
          {
            "node": "Any Leads Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Leads Ready?": {
      "main": [
        [
          {
            "node": "AI Agent - Outreach Strategist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Outreach Strategist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Web Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Outreach Strategist",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent - Outreach Strategist",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Outreach Strategist": {
      "main": [
        [
          {
            "node": "Calculate Final Lead Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Final Lead Score": {
      "main": [
        [
          {
            "node": "Insert Outreach Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Outreach Strategy": {
      "main": [
        [
          {
            "node": "View Complete Outreach Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "15edc86a-e130-4c36-9577-963e938bc9a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dca663e37726c81a3c935629cd2e11de0f4e015136ab9b3a68a64819241cd7b9"
  },
  "id": "27W04lgTGdgFMWUx",
  "tags": []
}