workflows/07c_sms_outreach_executor.json
{
  "name": "7C - SMS Outreach Executor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "116b055d-5e85-4e05-bb67-0237b3b4c5b1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  el.lead_id,\n  cl.company_name,\n  cl.phone,\n  el.sms_should_use,\n  el.sms_message,\n  el.sms_timing,\n  el.priority,\n  el.lead_score,\n  el.outreach_status,\n  el.last_sms_sent_at,\n  EXTRACT(DAY FROM NOW() - COALESCE(el.last_contacted_at, el.created_at)) as days_since_last_contact\nFROM enriched_leads el\nJOIN cleaned_leads cl ON el.lead_id = cl.id\nWHERE el.enrichment_stage = 3\nAND el.sms_should_use = TRUE\nAND cl.phone IS NOT NULL\nAND el.sms_status IS NULL\nAND (\n  el.outreach_status = 'email_sent' \n  AND EXTRACT(DAY FROM NOW() - el.last_contacted_at) >= 3\n  OR el.outreach_status IS NULL\n)\nORDER BY el.lead_score DESC\nLIMIT 10",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "82fe8adc-a12f-48b2-afb8-ed928a8c8777",
      "name": "Get SMS-Ready Leads",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bb6be24f-b852-454a-9866-e99e5b4c4c28",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "fcd635e9-207b-4010-b8c1-57e79cafde4b",
      "name": "Get SMS-Ready Leads1"
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.item.json;\n\n// Personalize SMS message\nlet smsMessage = lead.sms_message || `Hi! Quick question about ${lead.company_name}. Interested in discussing?`;\n\n// Replace placeholders\nsmsMessage = smsMessage\n  .replace(/{{company_name}}/g, lead.company_name)\n  .replace(/{{first_name}}/g, extractFirstName(lead.company_name));\n\n// Ensure under 160 characters\nif (smsMessage.length > 160) {\n  smsMessage = smsMessage.substring(0, 157) + '...';\n}\n\n// Add opt-out (required by law)\nsmsMessage += '\\n\\nReply STOP to opt-out';\n\nfunction extractFirstName(companyName) {\n  // Try to get first word as first name\n  const words = companyName.split(' ');\n  return words[0] || 'there';\n}\n\nreturn {\n  lead_id: lead.lead_id,\n  company_name: lead.company_name,\n  to_phone: lead.phone,\n  sms_body: smsMessage,\n  from_phone: process.env.TWILIO_PHONE_NUMBER,\n  priority: lead.priority,\n  lead_score: lead.lead_score\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -96
      ],
      "id": "74f34f62-6fa1-4061-af13-eea9a037911d",
      "name": "Prepare SMS Message"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "={{ $json.from_phone }}"
            },
            {
              "name": "To",
              "value": "={{ $json.to_phone }}"
            },
            {
              "name": "Body",
              "value": "={{ $json.sms_body }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        -96
      ],
      "id": "8b5b7cd8-46a3-4d47-9cba-a5c94ff687be",
      "name": "Send SMS - Twilio",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SMYLTdHXdM2qnLyo",
          "name": "Twilio API"
        },
        "httpBasicAuth": {
          "id": "0tI3YvWRIV6pDkQ2",
          "name": "Twilio API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO outreach_activities (\n  lead_id,\n  channel,\n  status,\n  external_id,\n  sms_sid,\n  sent_at\n) VALUES (\n  {{ $('Prepare SMS Message').item.json.lead_id }},\n  'sms',\n  'sent',\n  '{{ $json.sid }}',\n  '{{ $json.sid }}',\n  NOW()\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        -96
      ],
      "id": "7e70268d-13aa-4c8f-bb60-96b566b25ca0",
      "name": "Log SMS Activity",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE enriched_leads\nSET \n  sms_status = 'sent',\n  last_sms_sent_at = NOW(),\n  last_contacted_at = NOW()\nWHERE lead_id = {{ $('Prepare SMS Message').item.json.lead_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1248,
        -96
      ],
      "id": "6f5cba28-30c6-4293-9de2-1121e66f2ef8",
      "name": "Update Lead SMS Status",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        640,
        224
      ],
      "id": "a8b6989e-ac4e-4894-8efa-f463bfee853d",
      "name": "Error Handler"
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().json;\n\nconsole.error('SMS Error:', {\n  error: error.error?.message,\n  lead: error.execution?.data?.resultData?.runData?.['Prepare SMS Message']?.[0]?.data?.main?.[0]?.[0]?.json?.company_name\n});\n\nreturn {\n  error: true,\n  message: 'SMS sending failed',\n  details: error.error?.message\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        224
      ],
      "id": "a8811316-2774-4048-86a5-19b57645e5d2",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get SMS-Ready Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SMS-Ready Leads": {
      "main": [
        [
          {
            "node": "Get SMS-Ready Leads1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SMS-Ready Leads1": {
      "main": [
        [
          {
            "node": "Prepare SMS Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare SMS Message": {
      "main": [
        [
          {
            "node": "Send SMS - Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS - Twilio": {
      "main": [
        [
          {
            "node": "Log SMS Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log SMS Activity": {
      "main": [
        [
          {
            "node": "Update Lead SMS Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b533055a-aef0-4683-ad44-a106191e24fe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dca663e37726c81a3c935629cd2e11de0f4e015136ab9b3a68a64819241cd7b9"
  },
  "id": "1ExDlCV0NdXmVlWA",
  "tags": []
}