workflows/08_ Automated_Followup_manager.json
{
  "name": "8 - Automated Follow-Up Manager",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -160,
        0
      ],
      "id": "b615b885-1853-4218-86e3-833dbfff829e",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  el.lead_id,\n  cl.company_name,\n  cl.email,\n  cl.phone,\n  el.follow_up_count,\n  el.outreach_status,\n  el.sms_status,\n  el.whatsapp_status,\n  oa.opened_at,\n  oa.clicked_at,\n  EXTRACT(DAY FROM NOW() - oa.sent_at) as days_since_sent\nFROM enriched_leads el\nJOIN cleaned_leads cl ON el.lead_id = cl.id\nLEFT JOIN outreach_activities oa ON el.lead_id = oa.lead_id AND oa.channel = 'email'\nWHERE oa.replied_at IS NULL\nAND el.follow_up_count < 4\nORDER BY el.lead_score DESC\nLIMIT 20",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -16,
        0
      ],
      "id": "77ed5048-a243-4e66-9b92-c70185b9dd91",
      "name": "Get Follow-Up Candidates",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2c65ff28-5174-4751-bf01-99baf09ee6ab",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "97824475-bdf1-42a5-bb7c-32c69fd1023e",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this lead and generate an intelligent follow-up email:\n\nLEAD PROFILE:\n- Company: {{ $json.company_name }}\n- Original Subject: {{ $json.email_subject_line }}\n- Days Since Last Email: {{ $json.days_since_sent }}\n- Follow-Up Number: {{ $json.follow_up_count }}\n- Priority: {{ $json.priority }}\n\nENGAGEMENT DATA:\n- Email Opened: {{ $json.opened_at ? 'Yes' : 'No' }}\n- Links Clicked: {{ $json.clicked_at ? 'Yes' : 'No' }}\n\nCONTEXT:\n- Pain Points: {{ $json.pain_points }}\n- Personalization: {{ $json.personalization_hook }}\n- Pre-written Day 3: {{ $json.email_follow_up_day_3 || 'N/A' }}\n- Pre-written Day 7: {{ $json.email_follow_up_day_7 || 'N/A' }}\n\n---\n\nSTRATEGY RULES:\n\nDay 3 + Email Opened:\n→ They saw it but didn't reply\n→ Provide value (resource, case study)\n→ Different angle\n\nDay 3 + NOT Opened:\n→ Try different subject line\n→ Shorter email\n→ Create curiosity\n\nDay 7:\n→ Acknowledge silence politely\n→ Ask simple yes/no question\n→ Easy to respond\n\nDay 14:\n→ Breakup email approach\n→ Give permission to say no\n→ Create FOMO\n\nReturn ONLY this JSON:\n\n{\n  \"follow_up_type\": \"value_add/different_angle/breakup\",\n  \"subject_line\": \"Re: ... (max 60 chars)\",\n  \"email_body\": \"Complete email body\",\n  \"reasoning\": \"Why this approach\",\n  \"engagement_assessment\": \"High/Medium/Low\",\n  \"recommended_next_step\": \"What if no response\",\n  \"tone\": \"helpful/urgent/casual\"\n}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an email follow-up expert. Analyze engagement data and create follow-up emails. Always respond with valid JSON containing the follow-up strategy and email content."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        864,
        -128
      ],
      "id": "97c9818c-0851-4bb7-85e4-05a3f5a51df2",
      "name": "AI - Intelligent Follow-Up Generator"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        816,
        96
      ],
      "id": "9c0f14f9-f30f-44a5-9cbc-788d20114f21",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "QQB9yzE6weHJvRcp",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"follow_up_type\": {},\n    \"subject_line\": {},\n    \"email_body\": {},\n    \"reasoning\": {},\n    \"engagement_assessment\": {},\n    \"recommended_next_step\": {},\n    \"tone\": {}\n  },\n  \"additionalProperties\": true\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1088,
        96
      ],
      "id": "ce005dcb-7512-41c4-80c6-f78c1744cd59",
      "name": "Structured Output Parser",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.first().json.output || {};\nconst lead = $('Test Data - Follow-Up Ready').item.json;\n// Get AI-generated content\nconst subject = aiResponse.subject_line || `Re: ${lead.email_subject_line}`;\nconst body = aiResponse.email_body || lead[`email_follow_up_day_${lead.follow_up_count === 1 ? '3' : '7'}`] || 'Following up on my previous email...';\n\n// Build complete email\nconst emailBody = `\n${body}\n\nBest regards,\nYour Name\nYour Company\n\n---\nUnsubscribe: {{unsubscribe_link}}\n`;\n\nreturn {\n  lead_id: lead.lead_id,\n  user_id: lead.user_id,\n  to_email: lead.email,\n  to_name: lead.company_name,\n  subject_line: subject,\n  email_body: emailBody,\n  from_email: 'hello@yourcompany.com',\n  from_name: 'Your Name',\n  \n  // AI insights\n  follow_up_type: aiResponse.follow_up_type,\n  follow_up_number: lead.follow_up_count + 1,\n  engagement_assessment: aiResponse.engagement_assessment,\n  ai_reasoning: aiResponse.reasoning,\n  \n  // For tracking\n  days_since_initial: lead.days_since_sent,\n  was_opened: lead.opened_at ? true : false,\n  was_clicked: lead.clicked_at ? true : false\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -128
      ],
      "id": "79b352e6-000d-422b-957b-7b4dcaa635d4",
      "name": "Prepare Follow-Up Email"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT email FROM unsubscribes WHERE email = '{{ $json.to_email }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1424,
        -128
      ],
      "id": "700666d3-1a4d-4c22-80e6-61c39d1c0864",
      "name": "Check Not Unsubscribed",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "70132540-fb14-4a57-afe8-4353f231ab9c",
              "leftValue": "={{ $input.all().length.toString() }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1632,
        -128
      ],
      "id": "f24640f7-7987-4ce9-966c-912113ac2f28",
      "name": "Still Subscribed?"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to_email }}",
        "subject": "={{ $json.subject_line }}",
        "emailType": "text",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1872,
        -176
      ],
      "id": "ebb0f0c3-614c-44e1-b15c-f16084761fa8",
      "name": "Send Follow-Up Email",
      "webhookId": "6fb3f095-7e1b-45b8-9d1a-928c164d0fd8",
      "credentials": {
        "gmailOAuth2": {
          "id": "ErvKkvbo4c5GQjPn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO outreach_activities (\n  lead_id,\n  channel,\n  status,\n  sent_at\n) VALUES (\n  {{ $('Prepare Follow-Up Email').item.json.lead_id }},\n  'email_followup',\n  'sent',\n  NOW()\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2064,
        -176
      ],
      "id": "2cfb3ac5-a0e5-4437-bdbb-7a3eafee1301",
      "name": "Log Follow-Up Sent",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE enriched_leads\nSET \n  follow_up_count = follow_up_count + 1,\n  last_contacted_at = NOW(),\n  last_follow_up_sent = NOW(),\n  next_follow_up_date = CASE\n    WHEN follow_up_count + 1 = 2 THEN NOW() + INTERVAL '4 days'\n    WHEN follow_up_count + 1 = 3 THEN NOW() + INTERVAL '7 days'\n    ELSE NULL\n  END\nWHERE lead_id = {{ $('Prepare Follow-Up Email').item.json.lead_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2272,
        -176
      ],
      "id": "4db045f8-fcd1-4fc1-aa2f-7195828c63df",
      "name": "Update Follow-Up Count1",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "29b8f0ec-9495-4e8a-8851-4ea54b474209",
              "leftValue": "={{ $('Prepare Follow-Up Email').item.json.follow_up_number }}",
              "rightValue": "4",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2480,
        -176
      ],
      "id": "f9942e0a-6056-4c75-a782-fb4586304afc",
      "name": "Is This Final Follow-Up?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE enriched_leads\nSET \n  outreach_status = 'moved_to_nurture',\n  engagement_readiness = 'needs_nurturing'\nWHERE lead_id = {{ $('Prepare Follow-Up Email').item.json.lead_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2720,
        -272
      ],
      "id": "06f7550a-ba81-40cb-8229-63b7389b6e9c",
      "name": "Move to Nurture Campaign",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ccb7bfb9-e216-41b8-b013-e825b0dfd254",
              "name": "status",
              "value": "active_follow_up",
              "type": "string"
            },
            {
              "id": "4e668534-4a11-4d36-8a28-1e7e90298895",
              "name": "next_action",
              "value": "wait_for_response",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2720,
        -80
      ],
      "id": "05edd545-3358-45c3-af28-c0002c3340f2",
      "name": "Continue Follow-Up Sequence"
    },
    {
      "parameters": {
        "toolDescription": "Search Google for current information",
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{ $env.SERPER_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"q\": query} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        960,
        96
      ],
      "id": "2336df54-beb4-40ab-bdd5-ddfd69b7c714",
      "name": "web_search"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    lead_id: 1,\n    company_name: \"Test Company\",\n    email: \"your-email@gmail.com\",\n    user_id: 1,\n    email_subject_line: \"Quick question about your business\",\n    email_follow_up_day_3: \"Just following up - thought you might find this helpful...\",\n    email_follow_up_day_7: \"Last note - wanted to see if this resonates...\",\n    pain_points: '[\"Scaling challenges\",\"Staff training\"]',\n    personalization_hook: \"Expanding to new locations\",\n    follow_up_count: 1,\n    lead_score: 75,\n    priority: \"warm\",\n    sent_at: \"2026-03-04T10:00:00Z\",\n    opened_at: \"2026-03-04T14:30:00Z\",\n    clicked_at: null,\n    replied_at: null,\n    bounced_at: null,\n    days_since_sent: 3\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "4c52d676-068d-4db9-83c3-77d3fbc7f4fa",
      "name": "Test Data - Follow-Up Ready"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "49f948fc-c582-4f42-a426-a12d6f35a708",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Follow-Up Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Follow-Up Candidates": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI - Intelligent Follow-Up Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Intelligent Follow-Up Generator": {
      "main": [
        [
          {
            "node": "Prepare Follow-Up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI - Intelligent Follow-Up Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        []
      ]
    },
    "Prepare Follow-Up Email": {
      "main": [
        [
          {
            "node": "Check Not Unsubscribed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Not Unsubscribed": {
      "main": [
        [
          {
            "node": "Still Subscribed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Still Subscribed?": {
      "main": [
        [
          {
            "node": "Send Follow-Up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow-Up Email": {
      "main": [
        [
          {
            "node": "Log Follow-Up Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Follow-Up Sent": {
      "main": [
        [
          {
            "node": "Update Follow-Up Count1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Follow-Up Count1": {
      "main": [
        [
          {
            "node": "Is This Final Follow-Up?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is This Final Follow-Up?": {
      "main": [
        [
          {
            "node": "Move to Nurture Campaign",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Continue Follow-Up Sequence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Nurture Campaign": {
      "main": [
        []
      ]
    },
    "web_search": {
      "ai_tool": [
        [
          {
            "node": "AI - Intelligent Follow-Up Generator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Test Data - Follow-Up Ready": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Test Data - Follow-Up Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f92b5d17-16a2-4726-a22f-c92648b826fc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dca663e37726c81a3c935629cd2e11de0f4e015136ab9b3a68a64819241cd7b9"
  },
  "id": "6j9LAeTqmg84qk8A",
  "tags": []
}