workflows/08_ Automated_Followup_manager.json
{
  "name": "8 - Automated Follow-Up Manager",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        160,
        0
      ],
      "id": "b615b885-1853-4218-86e3-833dbfff829e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  el.lead_id,\n  cl.company_name,\n  cl.email,\n  cl.phone,\n  el.follow_up_count,\n  el.outreach_status,\n  el.sms_status,\n  el.whatsapp_status,\n  el.email_subject_line,\n  el.email_follow_up_day_3,\n  el.email_follow_up_day_7,\n  el.lead_score,\n  el.priority,\n  oa.opened_at,\n  oa.clicked_at,\n  EXTRACT(DAY FROM NOW() - oa.sent_at) as days_since_sent\nFROM enriched_leads el\nJOIN cleaned_leads cl ON el.lead_id = cl.id\nLEFT JOIN outreach_activities oa ON el.lead_id = oa.lead_id AND oa.channel = 'email'\nWHERE el.enrichment_stage = 3\nAND cl.email IS NOT NULL\nAND oa.replied_at IS NULL\nAND el.follow_up_count < 4\nAND el.outreach_status = 'email_sent'\nAND EXTRACT(DAY FROM NOW() - el.last_contacted_at) >= 3\nORDER BY el.lead_score DESC\nLIMIT 3",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        384,
        0
      ],
      "id": "77ed5048-a243-4e66-9b92-c70185b9dd91",
      "name": "Get Follow-Up Candidates",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2c65ff28-5174-4751-bf01-99baf09ee6ab",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        608,
        0
      ],
      "id": "97824475-bdf1-42a5-bb7c-32c69fd1023e",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this lead and generate an intelligent follow-up email:\n\nLEAD PROFILE:\n- Company: {{ $json.company_name }}\n- Original Subject: {{ $json.email_subject_line }}\n- Days Since Last Email: {{ $json.days_since_sent }}\n- Follow-Up Number: {{ $json.follow_up_count }}\n- Priority: {{ $json.priority }}\n\nENGAGEMENT DATA:\n- Email Opened: {{ $json.opened_at ? 'Yes' : 'No' }}\n- Links Clicked: {{ $json.clicked_at ? 'Yes' : 'No' }}\n\nCONTEXT:\n- Pain Points: {{ $json.pain_points }}\n- Personalization: {{ $json.personalization_hook }}\n- Pre-written Day 3: {{ $json.email_follow_up_day_3 || 'N/A' }}\n- Pre-written Day 7: {{ $json.email_follow_up_day_7 || 'N/A' }}\n\n---\n\nSTRATEGY RULES:\n\nDay 3 + Email Opened:\n→ They saw it but didn't reply\n→ Provide value (resource, case study)\n→ Different angle\n\nDay 3 + NOT Opened:\n→ Try different subject line\n→ Shorter email\n→ Create curiosity\n\nDay 7:\n→ Acknowledge silence politely\n→ Ask simple yes/no question\n→ Easy to respond\n\nDay 14:\n→ Breakup email approach\n→ Give permission to say no\n→ Create FOMO\n\nReturn ONLY this JSON:\n\n{\n  \"follow_up_type\": \"value_add/different_angle/breakup\",\n  \"subject_line\": \"Re: ... (max 60 chars)\",\n  \"email_body\": \"Complete email body\",\n  \"reasoning\": \"Why this approach\",\n  \"engagement_assessment\": \"High/Medium/Low\",\n  \"recommended_next_step\": \"What if no response\",\n  \"tone\": \"helpful/urgent/casual\"\n}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an email follow-up expert. Analyze engagement data and create follow-up emails. Always respond with valid JSON containing the follow-up strategy and email content."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        864,
        -128
      ],
      "id": "97c9818c-0851-4bb7-85e4-05a3f5a51df2",
      "name": "AI - Intelligent Follow-Up Generator"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        816,
        96
      ],
      "id": "9c0f14f9-f30f-44a5-9cbc-788d20114f21",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "QQB9yzE6weHJvRcp",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.first().json.output || {};\nconst lead = $('Mock Follow-Up Ready').first().json;\n\nconst subject = aiResponse.subject_line || `Re: ${lead.email_subject_line || 'our previous conversation'}`;\nconst body = aiResponse.email_body || \n  (lead.follow_up_count === 1 ? lead.email_follow_up_day_3 : lead.email_follow_up_day_7) || \n  'Following up on my previous email...';\n\nconst emailBody = `${body}\n\nBest regards,\nMuhammad Fahad\nmohmmadfahad53408@gmail.com\n\n---\nTo unsubscribe, reply with UNSUBSCRIBE.`;\n\nreturn {\n  lead_id: lead.lead_id,\n  company_name: lead.company_name,\n  to_email: lead.email,\n  subject_line: subject,\n  email_body: emailBody,\n  follow_up_count: lead.follow_up_count,\n  priority: lead.priority\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -128
      ],
      "id": "79b352e6-000d-422b-957b-7b4dcaa635d4",
      "name": "Prepare Follow-Up Email"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as unsubscribe_count\nFROM unsubscribes\nWHERE email = '{{ $json.to_email }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1424,
        -128
      ],
      "id": "700666d3-1a4d-4c22-80e6-61c39d1c0864",
      "name": "Check Not Unsubscribed",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "70132540-fb14-4a57-afe8-4353f231ab9c",
              "leftValue": "={{ $json.unsubscribe_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1840,
        -128
      ],
      "id": "f24640f7-7987-4ce9-966c-912113ac2f28",
      "name": "Still Subscribed?"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to_email }}",
        "subject": "={{ $json.subject_line }}",
        "emailType": "text",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2080,
        -176
      ],
      "id": "ebb0f0c3-614c-44e1-b15c-f16084761fa8",
      "name": "Send Follow-Up Email",
      "webhookId": "6fb3f095-7e1b-45b8-9d1a-928c164d0fd8",
      "credentials": {
        "gmailOAuth2": {
          "id": "ErvKkvbo4c5GQjPn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO outreach_activities (\n  lead_id,\n  channel,\n  status,\n  sent_at\n) VALUES (\n  {{ $('Prepare Follow-Up Email').item.json.lead_id }},\n  'email_followup',\n  'sent',\n  NOW()\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2272,
        -176
      ],
      "id": "2cfb3ac5-a0e5-4437-bdbb-7a3eafee1301",
      "name": "Log Follow-Up Sent",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "29b8f0ec-9495-4e8a-8851-4ea54b474209",
              "leftValue": "={{ $('Prepare Follow-Up Email').item.json.follow_up_count }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2688,
        -176
      ],
      "id": "f9942e0a-6056-4c75-a782-fb4586304afc",
      "name": "Is This Final Follow-Up?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE enriched_leads\nSET \n  outreach_status = 'moved_to_nurture',\n  engagement_readiness = 'needs_nurturing'\nWHERE lead_id = {{ $('Prepare Follow-Up Email').item.json.lead_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2928,
        -272
      ],
      "id": "06f7550a-ba81-40cb-8229-63b7389b6e9c",
      "name": "Move to Nurture Campaign",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ccb7bfb9-e216-41b8-b013-e825b0dfd254",
              "name": "status",
              "value": "active_follow_up",
              "type": "string"
            },
            {
              "id": "4e668534-4a11-4d36-8a28-1e7e90298895",
              "name": "next_action",
              "value": "wait_for_response",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2928,
        -80
      ],
      "id": "05edd545-3358-45c3-af28-c0002c3340f2",
      "name": "Continue Follow-Up Sequence"
    },
    {
      "parameters": {
        "toolDescription": "Search Google for current information",
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{ $env.SERPER_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"q\": query} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        960,
        96
      ],
      "id": "2336df54-beb4-40ab-bdd5-ddfd69b7c714",
      "name": "web_search"
    },
    {
      "parameters": {
        "jsCode": "const unsubResult = $input.item.json;\nconst leadData = $('Prepare Follow-Up Email').item.json;\nreturn {\n  ...leadData,\n  unsubscribe_count: parseInt(unsubResult.unsubscribe_count) || 0\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        -128
      ],
      "id": "484ca00b-6a6c-4c78-b4a5-f25e1abcf233",
      "name": "Merge Unsub Check"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE enriched_leads\nSET \n  follow_up_count = follow_up_count + 1,\n  last_contacted_at = NOW(),\n  last_follow_up_sent = NOW(),\n  next_follow_up_date = CASE\n    WHEN follow_up_count + 1 = 2 THEN NOW() + INTERVAL '4 days'\n    WHEN follow_up_count + 1 = 3 THEN NOW() + INTERVAL '7 days'\n    ELSE NULL\n  END\nWHERE lead_id = {{ $('Prepare Follow-Up Email').item.json.lead_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2480,
        -176
      ],
      "id": "4db045f8-fcd1-4fc1-aa2f-7195828c63df",
      "name": "Update Follow-Up Count",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🔁 Automated Follow-Up Manager\n\n**Purpose**\nKeeps following up with leads who received an email but never replied. AI generates a fresh follow-up message each time based on whether the lead opened the previous email or not.\n\n**How it works**\nRuns every **6 hours** → finds leads with no reply → AI generates a context-aware follow-up → checks unsubscribe list → sends via Gmail → updates follow-up count.\n\n**Follow-up Sequence**\n- Day 3 → Value-add email (new insight or resource)\n- Day 7 → Gentle nudge (simple yes/no question)\n- Day 14 → Breakup email (last attempt)\n- After 4 follow-ups → Lead moves to **nurture list**",
        "height": 576,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        -608
      ],
      "typeVersion": 1,
      "id": "ab963f29-7c98-48e2-a68d-678ee294bd5e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      lead_id: 1,\n      company_name: \"Blue Bottle Coffee\",\n      email: \"your-test-email@gmail.com\",\n      phone: \"+14155551234\",\n      follow_up_count: 1,\n      outreach_status: \"email_sent\",\n      email_subject_line: \"Quick question about Blue Bottle\",\n      email_follow_up_day_3: \"Just following up - did you get a chance to review?\",\n      email_follow_up_day_7: \"Last note - happy to answer any questions.\",\n      pain_points: [\"Scaling\", \"Staff training\"],\n      personalization_hook: \"Recently opened 3 new locations\",\n      lead_score: 87, priority: \"hot\",\n      opened_at: new Date().toISOString(),\n      clicked_at: null,\n      days_since_sent: 3\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        224
      ],
      "id": "79b6afed-e480-4bd3-b3ac-57b84137b4c8",
      "name": "Mock Follow-Up Ready",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Follow-Up Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Follow-Up Candidates": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI - Intelligent Follow-Up Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Intelligent Follow-Up Generator": {
      "main": [
        [
          {
            "node": "Prepare Follow-Up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI - Intelligent Follow-Up Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Follow-Up Email": {
      "main": [
        [
          {
            "node": "Check Not Unsubscribed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Not Unsubscribed": {
      "main": [
        [
          {
            "node": "Merge Unsub Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Still Subscribed?": {
      "main": [
        [
          {
            "node": "Send Follow-Up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow-Up Email": {
      "main": [
        [
          {
            "node": "Log Follow-Up Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Follow-Up Sent": {
      "main": [
        [
          {
            "node": "Update Follow-Up Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is This Final Follow-Up?": {
      "main": [
        [
          {
            "node": "Move to Nurture Campaign",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Continue Follow-Up Sequence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Nurture Campaign": {
      "main": [
        []
      ]
    },
    "web_search": {
      "ai_tool": [
        [
          {
            "node": "AI - Intelligent Follow-Up Generator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Merge Unsub Check": {
      "main": [
        [
          {
            "node": "Still Subscribed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Follow-Up Count": {
      "main": [
        [
          {
            "node": "Is This Final Follow-Up?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Follow-Up Ready": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fcf24de8-4a70-4896-98f4-b1216f8b7eca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dca663e37726c81a3c935629cd2e11de0f4e015136ab9b3a68a64819241cd7b9"
  },
  "id": "6j9LAeTqmg84qk8A",
  "tags": []
}