workflows/09_reply_detection.json
{
  "name": "9 - Reply Detection & AI Qualification",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  oa.id as activity_id,\n  oa.lead_id,\n  cl.user_id as org_id,\n  cl.email as lead_email,\n  cl.company_name,\n  oa.sent_at,\n  oa.external_id,\n  el.reply_received,\n  el.outreach_status\nFROM outreach_activities oa\nJOIN enriched_leads el ON oa.lead_id = el.lead_id\nJOIN cleaned_leads cl ON el.lead_id = cl.id\nWHERE oa.channel = 'email'\nAND (el.reply_received IS NULL OR el.reply_received = FALSE)\nAND el.outreach_status = 'email_sent'\nORDER BY oa.sent_at DESC\nLIMIT 5",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -128,
        -128
      ],
      "id": "2f7db315-97f4-4194-8b61-9177c7509027",
      "name": "Get Recent Outreach Emails",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c595493a-5310-43b9-a6f9-d32d8a93f0c9",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        -128
      ],
      "id": "f0631d4a-c11b-4840-b648-d28f65fb4663",
      "name": "Any Emails to Check?"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "filters": {
          "q": "=from:{{ $json.lead_email }} newer_than:7d"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        368,
        -144
      ],
      "id": "cc114d17-1727-4aeb-bc1f-8a992afdf5d5",
      "name": "Check Gmail Inbox",
      "webhookId": "8300f760-80e9-47c9-8d3f-f9e781383335",
      "credentials": {
        "gmailOAuth2": {
          "id": "ErvKkvbo4c5GQjPn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dff7ca0e-d775-4a26-b569-11b03e4aba60",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        -144
      ],
      "id": "2855e2a5-73a9-41d3-af6a-ed80031cdfcf",
      "name": "Reply Found?"
    },
    {
      "parameters": {
        "jsCode": "const gmailMessages = $input.all();\nconst leadInfo = $('Get Recent Outreach Emails').first().json;\nconst replies = [];\n\nfor (const item of gmailMessages) {\n  const message = item.json;\n  \n  // Extract headers\n  const headers = message.payload?.headers || [];\n  const getHeader = (name) => headers.find(h => h.name === name)?.value || '';\n  \n  // Extract body\n  let body = '';\n  const parts = message.payload?.parts || [];\n  if (parts.length > 0) {\n    const textPart = parts.find(p => p.mimeType === 'text/plain');\n    if (textPart?.body?.data) {\n      body = Buffer.from(textPart.body.data, 'base64').toString('utf-8');\n    }\n  } else if (message.payload?.body?.data) {\n    body = Buffer.from(message.payload.body.data, 'base64').toString('utf-8');\n  }\n\n  replies.push({\n    lead_id: leadInfo.lead_id,\n    org_id: leadInfo.org_id,\n    company_name: leadInfo.company_name,\n    reply_from: getHeader('From'),\n    reply_to: getHeader('To'),\n    subject: getHeader('Subject'),\n    body: body || 'No body found',\n    received_at: getHeader('Date') || new Date().toISOString(),\n    thread_id: message.threadId || null,\n    message_id: message.id || null\n  });\n}\n\nreturn replies.length > 0 ? replies : [{\n  lead_id: leadInfo.lead_id,\n  org_id: leadInfo.org_id,\n  company_name: leadInfo.company_name,\n  reply_from: leadInfo.lead_email,\n  body: 'Reply detected',\n  received_at: new Date().toISOString(),\n  thread_id: null\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -160
      ],
      "id": "95810306-d5fa-42a8-b51a-7e4e3923f646",
      "name": "Extract Reply Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this email reply and qualify the lead:\n\nLEAD CONTEXT:\nCompany: {{ $json.company_name }}\nOur Email Sent: 7 days ago\nOur Subject: Initial outreach about [product/service]\n\nTHEIR REPLY:\nFrom: {{ $json.reply_from }}\nSubject: {{ $json.subject }}\nBody:\n\"\"\"\n{{ $json.body }}\n\"\"\"\n\n---\n\nANALYZE AND QUALIFY:\n\n1. SENTIMENT ANALYSIS:\n   - What's the overall tone? (interested/not_interested/neutral/question/out_of_office/autoresponder)\n\n2. INTENT DETECTION:\n   - What do they want? (wants_demo, wants_pricing, needs_more_info, ask_question, decline, unsubscribe, reschedule, refer_colleague)\n\n3. BANT QUALIFICATION (Budget, Authority, Need, Timeline):\n   - Budget: Did they mention budget? Any price concerns?\n   - Authority: Are they the decision maker? Do they need to involve others?\n   - Need: Do they have the problem we solve? How urgent?\n   - Timeline: When are they looking to implement/buy?\n\n4. BUYING SIGNALS:\n   - Urgency level: urgent/normal/low\n   - Pain points mentioned\n   - Competitor mentions\n   - Current solution dissatisfaction\n   - Decision maker confirmed\n\n5. QUALIFICATION SCORE (0-100):\n   - 90-100: Hot lead (ready to buy)\n   - 70-89: Warm lead (interested, needs nurturing)\n   - 40-69: Cold lead (mild interest, long-term)\n   - 0-39: Disqualified (not interested, wrong fit)\n\n6. NEXT ACTION:\n   - send_to_sales: Qualified, ready for sales call\n   - send_demo: They want to see product\n   - send_pricing: They want pricing info\n   - answer_question: They have specific questions\n   - nurture: Interested but not ready\n   - disqualify: Not a fit\n   - unsubscribe: They opted out\n\nReturn ONLY this JSON (no other text):\n\n{\n  \"sentiment\": \"interested/not_interested/neutral/question/out_of_office\",\n  \"intent\": \"wants_demo/wants_pricing/etc\",\n  \"urgency\": \"urgent/normal/low\",\n  \"budget_mentioned\": true/false,\n  \"budget_info\": \"details if mentioned\",\n  \"timeline_mentioned\": \"specific timeline or null\",\n  \"pain_points\": [\"pain point 1\", \"pain point 2\"],\n  \"decision_maker_confirmed\": true/false,\n  \"authority_level\": \"decision_maker/influencer/gatekeeper\",\n  \"qualification_score\": 85,\n  \"interest_level\": \"hot/warm/cold/dead\",\n  \"next_action\": \"send_to_sales\",\n  \"recommended_response\": \"Brief suggestion for how sales should respond\",\n  \"key_insights\": \"Important notes for sales team\",\n  \"red_flags\": [\"any concerns\"],\n  \"confidence\": 95\n}",
        "options": {
          "systemMessage": "You are an expert sales lead qualifier. You analyze email replies to determine:\n1. Intent and interest level\n2. Buying signals (budget, timeline, authority, need)\n3. Qualification score (0-100)\n4. Recommended next action\n\nYou are direct, analytical, and focused on actionable insights for sales teams."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1216,
        -496
      ],
      "id": "0b9616cf-9ecf-4b6c-98fc-90e727495bc4",
      "name": "AI - Reply Analyzer & Lead Qualifier"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1152,
        -256
      ],
      "id": "781d9ed8-d7b8-494d-9db4-00c3ff5e5a4d",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "QQB9yzE6weHJvRcp",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiAnalysis = $input.first().json.output || {};\nconst replyData = $('Extract Reply Data').item.json;\n\n// If output exists, use it; otherwise use direct input\nconst data = aiAnalysis.lead_id ? aiAnalysis : replyData;\n\nconst qualification = {\n  lead_id: data.lead_id || $('Extract Reply Data').first().json?.lead_id || 92,\n  org_id: data.org_id || 1,\n  company_name: data.company_name || 'Unknown',\n  reply_from: data.reply_from || '',\n  reply_to: data.reply_to || '',\n  subject: data.subject || '',\n  body: data.body || '',\n  received_at: data.received_at || new Date().toISOString(),\n  thread_id: data.thread_id || null,\n  sentiment: aiAnalysis.sentiment || 'neutral',\n  intent: aiAnalysis.intent || 'unknown',\n  urgency: aiAnalysis.urgency || 'normal',\n  budget_mentioned: aiAnalysis.budget_mentioned || false,\n  budget_info: aiAnalysis.budget_info || null,\n  timeline_mentioned: aiAnalysis.timeline_mentioned || null,\n  pain_points_mentioned: aiAnalysis.pain_points || [],\n  decision_maker_confirmed: aiAnalysis.decision_maker_confirmed || false,\n  qualification_score: aiAnalysis.qualification_score || 50,\n  interest_level: aiAnalysis.interest_level || 'cold',\n  next_action: aiAnalysis.next_action || 'nurture',\n  recommended_response: aiAnalysis.recommended_response || '',\n  key_insights: aiAnalysis.key_insights || '',\n  red_flags: aiAnalysis.red_flags || [],\n  ai_confidence: aiAnalysis.confidence || 0,\n  processed: true,\n  processed_at: new Date().toISOString()\n};\n\nlet qualificationStatus;\nif (qualification.qualification_score >= 70) qualificationStatus = 'qualified';\nelse if (qualification.qualification_score >= 40) qualificationStatus = 'warm';\nelse if (qualification.sentiment === 'not_interested' || qualification.intent === 'unsubscribe') qualificationStatus = 'disqualified';\nelse qualificationStatus = 'cold';\n\nqualification.qualification_status = qualificationStatus;\nqualification.sales_ready = (\n  qualification.qualification_score >= 70 &&\n  ['interested', 'question'].includes(qualification.sentiment) &&\n  !['unsubscribe', 'decline'].includes(qualification.intent)\n);\n\nreturn qualification;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        -128
      ],
      "id": "4b50c055-1577-4f14-b1ea-1f8cc64b78b4",
      "name": "Prepare Qualification Data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO email_replies (\n  lead_id,\n  org_id,\n  reply_from,\n  reply_to,\n  subject,\n  body,\n  received_at,\n  thread_id,\n  sentiment,\n  intent,\n  urgency,\n  budget_mentioned,\n  timeline_mentioned,\n  pain_points_mentioned,\n  decision_maker_confirmed,\n  qualification_score,\n  next_action,\n  processed,\n  processed_at\n) VALUES (\n  {{ $json.lead_id }},\n  {{ $json.org_id }},\n  '{{ $json.reply_from }}',\n  '{{ $json.reply_to }}',\n  '{{ $json.subject.replace(/'/g, \"''\") }}',\n  '{{ $json.body.replace(/'/g, \"''\") }}',\n  '{{ $json.received_at }}',\n  '{{ $json.thread_id }}',\n  '{{ $json.sentiment }}',\n  '{{ $json.intent }}',\n  '{{ $json.urgency }}',\n  {{ $json.budget_mentioned }},\n  '{{ $json.timeline_mentioned || null }}',\n  ARRAY[{{ $json.pain_points_mentioned.map(p => `'${p.replace(/'/g, \"''\")}'`).join(',') || null }}],\n  {{ $json.decision_maker_confirmed }},\n  {{ $json.qualification_score }},\n  '{{ $json.next_action }}',\n  TRUE,\n  NOW()\n)\nRETURNING id, lead_id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1856,
        -128
      ],
      "id": "7b00afd4-54a5-45ec-b249-c9b0521e26ee",
      "name": "Insert Reply Record",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE enriched_leads\nSET \n  reply_received = TRUE,\n  outreach_status = 'reply_received',\n  qualification_status = '{{ $('Prepare Qualification Data').item.json.qualification_status }}',\n  last_contacted_at = NOW()\nWHERE lead_id = {{ $('Prepare Qualification Data').item.json.lead_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2048,
        -128
      ],
      "id": "31be46b2-5271-40dd-a2d9-d35fa62bb990",
      "name": "Update Lead with Reply",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO qualification_events (\n  lead_id,\n  event_type,\n  new_status,\n  new_score,\n  reason,\n  created_by\n) VALUES (\n  {{ $('Prepare Qualification Data').item.json.lead_id }},\n  'reply_received',\n  '{{ $('Prepare Qualification Data').item.json.qualification_status }}',\n  {{ $('Prepare Qualification Data').item.json.qualification_score || 0 }},\n  '{{ $('Prepare Qualification Data').item.json.key_insights ? $('Prepare Qualification Data').item.json.key_insights.replace(/'/g, \"''\") : \"AI qualified\" }}',\n  'ai_agent'\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2256,
        -128
      ],
      "id": "49a8b01c-90ee-4e3b-93e7-c73efe1f7879",
      "name": "Log Qualification Event",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.qualification_status }}",
                    "rightValue": "qualified",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a1906cc6-9667-43d8-b72a-5358b10c2d6f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Qualified"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "86ded976-7c59-4ec1-b2f5-c7375d950295",
                    "leftValue": "={{ $json.qualification_status }}",
                    "rightValue": "disqualified",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Disqualified"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d3910be7-d58c-41ae-becf-fcd23e3819f8",
                    "leftValue": "={{ $json.qualification_status }}",
                    "rightValue": "warm",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Needs Nurturing"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2672,
        -144
      ],
      "id": "048a79f9-f0a9-4b9e-be8e-61f14db73a80",
      "name": "Route by Qualification"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sales_queue (\n  lead_id,\n  org_id,\n  priority,\n  qualification_score,\n  interest_level,\n  budget_estimate,\n  timeline,\n  next_action,\n  notes,\n  status\n) VALUES (\n  {{ $json.lead_id }},\n  {{ $json.org_id || 1 }},\n  CASE\n    WHEN {{ $json.qualification_score }} >= 90 THEN 'urgent'\n    WHEN {{ $json.qualification_score }} >= 70 THEN 'high'\n    ELSE 'medium'\n  END,\n  {{ $json.qualification_score || 0 }},\n  '{{ $json.intent || \"unknown\" }}',\n  '{{ $json.budget_estimate ? $json.budget_estimate.replace(/'/g, \"''\") : \"unknown\" }}',\n  '{{ $json.timeline ? $json.timeline.replace(/'/g, \"''\") : \"unknown\" }}',\n  '{{ $json.next_action ? $json.next_action.replace(/'/g, \"''\") : \"follow_up\" }}',\n  '{{ $json.key_insights ? $json.key_insights.replace(/'/g, \"''\") : \"\" }}',\n  'new'\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3136,
        -432
      ],
      "id": "287dc326-d163-4978-ba2f-c169c5756a64",
      "name": "Add to Sales Queue",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE enriched_leads\nSET \n  outreach_status = 'disqualified',\n  follow_up_count = 999, -- Prevent further follow-ups\n  next_follow_up_date = NULL\nWHERE lead_id = {{ $json.lead_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3136,
        -128
      ],
      "id": "90f3b782-40b1-4ac0-9a09-11697f2fc824",
      "name": "Stop All Outreach",
      "credentials": {
        "postgres": {
          "id": "Scc3yxojKZkvXpOL",
          "name": "Lead Database"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6e88f030-0c33-4218-b0e7-7a8ca2617a87",
              "name": "status",
              "value": "continue_nurture",
              "type": "string"
            },
            {
              "id": "0fff45a3-3ff0-4f9e-bbb3-67b9efcd7817",
              "name": "note",
              "value": "Lead showed interest but not ready yet",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3136,
        176
      ],
      "id": "7008234b-09ed-466a-a680-2938e73fdfba",
      "name": "Continue Nurturing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        80
      ],
      "id": "b4bdfa88-1c0f-408b-b3a3-2ee74479bdd6",
      "name": "Error Handler",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().json;\n\nconsole.error('Reply Detection Error:', {\n  workflow: 'Reply Detection',\n  node: error.node?.name,\n  error: error.error?.message,\n  timestamp: new Date().toISOString()\n});\n\n// Could also insert to error log table\nreturn {\n  workflow: 'Reply Detection',\n  error_message: error.error?.message,\n  node_name: error.node?.name,\n  timestamp: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        80
      ],
      "id": "eae846a8-b04b-4e72-a298-414fde54f34b",
      "name": "Log Error",
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -336,
        -128
      ],
      "id": "b3f74c30-afcb-455a-a4ac-26a33756eb7e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "return $('Prepare Qualification Data').item.json;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        -128
      ],
      "id": "41eafc07-dbe4-4784-a050-157f222749a9",
      "name": "Pass Data"
    },
    {
      "parameters": {
        "content": "## 📬 Reply Detection & AI Qualification\n\n**Purpose**\nMonitors Gmail inbox for replies from leads. When a reply is found, AI reads it and decides how interested the lead is, then routes them automatically.\n\n**How it works**\nRuns every **15 minutes** → checks Gmail for replies → AI analyzes sentiment, intent, budget mentions, and urgency → scores the lead → routes based on score.\n\n**Routing Logic**\n- 🔥 Score 70+ → Added to **Sales Queue** (ready to close)\n- 🧊 Not interested → All outreach **stopped immediately**\n- 🌱 Mild interest → Continues in **nurture sequence**",
        "height": 480,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        -640
      ],
      "typeVersion": 1,
      "id": "2f0e7c38-0fa1-490f-bbb2-d0aa1b57f276",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Recent Outreach Emails": {
      "main": [
        [
          {
            "node": "Any Emails to Check?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Emails to Check?": {
      "main": [
        [
          {
            "node": "Check Gmail Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Gmail Inbox": {
      "main": [
        [
          {
            "node": "Reply Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply Found?": {
      "main": [
        [
          {
            "node": "Extract Reply Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Reply Data": {
      "main": [
        [
          {
            "node": "AI - Reply Analyzer & Lead Qualifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI - Reply Analyzer & Lead Qualifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI - Reply Analyzer & Lead Qualifier": {
      "main": [
        [
          {
            "node": "Prepare Qualification Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Qualification Data": {
      "main": [
        [
          {
            "node": "Insert Reply Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Reply Record": {
      "main": [
        [
          {
            "node": "Update Lead with Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead with Reply": {
      "main": [
        [
          {
            "node": "Log Qualification Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Qualification Event": {
      "main": [
        [
          {
            "node": "Pass Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Qualification": {
      "main": [
        [
          {
            "node": "Add to Sales Queue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop All Outreach",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Continue Nurturing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue Nurturing": {
      "main": [
        []
      ]
    },
    "Add to Sales Queue": {
      "main": [
        []
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Recent Outreach Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Data": {
      "main": [
        [
          {
            "node": "Route by Qualification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "45bb4685-f5a6-4798-9dac-c91a4b5bafe5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dca663e37726c81a3c935629cd2e11de0f4e015136ab9b3a68a64819241cd7b9"
  },
  "id": "TrgeZrs4ILZnrXuJ",
  "tags": []
}